# PERMISSIONS AUTHORIZATION

In [1]:
import requests
import pandas as pd
from pandas import DataFrame
import numpy as np
from itertools import chain
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
CLIENT_ID = 'c7d16c8600ab433ea5aede2202285c1e'
CLIENT_SECRET = '69b7f20b150845a1ae6427a66f14d780'

In [3]:
AUTH_URL = 'https://accounts.spotify.com/api/token'

# POST
auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': CLIENT_ID,
    'client_secret': CLIENT_SECRET,
})

# convert the response to JSON
auth_response_data = auth_response.json()

# save the access token
access_token = auth_response_data['access_token']

In [4]:
#needs to be updated every hour
headers = {
    'Authorization': 'Bearer BQC7gMsDxQkgOzIuvAf9aw1_D0aaaZttROrrULC89ROpMh8n0D2IGjmyCvylT6DC_k1Odwtn7EkwY1ADD-vbY5_Ebfb884gmajK1z5xl_gvILioBI9MWkm-MWx58cCpROsM_WKnF2_Vjly6bKrh_-HEbX6lNaO4UZnPZFs0fa-2b_Q3F0BGGbnzJVL0ah1Y-nJU'.format(token=access_token)
}

# PULLING IN BILLBOARD 1972

In [5]:
import spotipy
sp = spotipy.Spotify()
from spotipy.oauth2 import SpotifyClientCredentials

In [6]:
#Authentication - without user
client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [7]:
playlist_link = "https://open.spotify.com/embed/playlist/2r2ewSjmAr1j2Gxn8fid7Z?utm_source=generator"
playlist_URI = playlist_link.split("/")[-1].split("?")[0]
track_uris = [x["track"]["uri"] for x in sp.playlist_tracks(playlist_URI)["items"]]

In [8]:
    for track in sp.playlist_tracks(playlist_URI)["items"]:
        #URI
        track_uri = track["track"]["uri"]

        #Track name
        track_name = track["track"]["name"]

        #Main Artist
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)

        #Name, popularity, genre
        artist_name = track["track"]["artists"][0]["name"]
        
        #artist_pop = artist_info["popularity"]
        artist_genres = artist_info["genres"]

        #Album
        album = track["track"]["album"]["name"]

        #Popularity of the track
        track_pop = track["track"]["popularity"]
        
        #Track Name
        track_name = track["track"]["name"]
        
        #Track URI
        track_uri = track["track"]["uri"]

# TRACK URI

In [9]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_uri = track["track"]["uri"]
        track_name = track["track"]["name"]
        result = track_uri#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_u = get_tracks()

In [10]:
t_uri=pd.DataFrame(track_u)
t_uri=t_uri.rename(columns={0:'track_uri'})
t_uri=t_uri['track_uri'].str.lstrip('spotify:track:')
t_uri=pd.DataFrame(t_uri)

# ARTIST NAME

In [11]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_name = track["track"]["artists"][0]["name"]
        result = artist_name
        tracks.append(result)

    return tracks


artist_name = get_tracks()

In [12]:
a_name=pd.DataFrame(artist_name).reset_index()
a_name=a_name.rename(columns={0:'artist_name'})
a_name['year']=1972

# TRACK NAME

In [13]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        result = track_name#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_name = get_tracks()

In [14]:
t_name=pd.DataFrame(track_name).reset_index()
t_name=t_name.rename(columns={0:'track_name'})

# AUDIO FEATURES

In [15]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        track_uri = track["track"]["uri"]
        result = sp.audio_features(track_uri)[0]
        tracks.append(result)
        #result=pd.concat([sp.audio_features, tracks], axis=0)
    return tracks


audio = get_tracks()

audio

In [16]:
audio_fea=pd.DataFrame(audio).reset_index()
audio_fea=audio_fea.drop(columns=['type','uri','track_href','analysis_url'])
audio_fea=audio_fea.rename(columns={'id':'track_uri'})

# GENRES

In [17]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)
        artist_genres = artist_info["genres"]
        result = artist_genres
        tracks.append(result)

    return tracks


track_genres = get_tracks()

In [18]:
genres=pd.DataFrame(track_genres)
genres=genres.rename(columns={0:'primary_genre',1:'sub_genre_1', 2:'sub_genre_2'})
genres= genres[['primary_genre','sub_genre_1','sub_genre_2']].reset_index()

In [19]:
final_df=a_name.merge(t_name, how='left', on='index')
final_df=final_df.merge(genres, how='left', on='index')
final_df=final_df.merge(audio_fea, how='left', on='index')
final_df.head(10)

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Roberta Flack,1972,The First Time Ever I Saw Your Face,adult standards,classic soul,disco,0.311,0.0264,0,...,1,0.0370,0.731,0.002050,0.1560,0.139,120.653,0SxFyA4FqmEQqZVuAlg8lf,260666,4
1,1,Gilbert O'Sullivan,1972,Alone Again (Naturally),adult standards,brill building pop,bubblegum pop,0.558,0.4640,8,...,0,0.0354,0.583,0.000133,0.1590,0.558,171.762,6vuEG9sZtC4W2zT64f7zLF,217729,4
2,2,Don McLean,1972,American Pie,adult standards,classic rock,folk,0.531,0.4810,4,...,0,0.0600,0.699,0.000000,0.0842,0.491,138.450,1fDsrQ23eTAVFElUMaf38X,516893,4
3,3,Harry Nilsson,1972,Without You,art rock,brill building pop,classic rock,0.381,0.1860,4,...,1,0.0290,0.613,0.000003,0.0694,0.142,65.058,6MrILERJLA3Jcq0E9poZsp,201000,4
4,4,Sammy Davis Jr.,1972,The Candy Man,adult standards,easy listening,lounge,0.634,0.5600,0,...,1,0.0370,0.681,0.000000,0.3670,0.880,131.641,5X3XrHlCFVGqNKpGp85xVC,188227,4
5,5,Joe Tex,1972,I GOTCHA,northern soul,southern soul,None,0.840,0.8560,8,...,1,0.3280,0.182,0.000297,0.3060,0.763,93.410,3t5caUWBhKDgy1ypsxRcg4,148813,4
6,6,Bill Withers,1972,Lean on Me,funk,quiet storm,soul,0.619,0.2200,0,...,1,0.0672,0.782,0.000012,0.1240,0.426,75.143,3M8FzayQWtkvOhqMn2V4T2,258835,4
7,7,Mac Davis,1972,Baby Don't Get Hooked on Me,bubblegum pop,classic country pop,country rock,0.495,0.3070,9,...,1,0.0403,0.260,0.000052,0.1030,0.802,80.970,4z51Gf7Ppt9Lmu5zmnUIz9,183933,4
8,8,Melanie,1972,Brand New Key,classic uk pop,folk,folk rock,0.703,0.2920,1,...,1,0.0360,0.805,0.000004,0.0800,0.855,84.032,7da5B9d2oVV16YSzXVxmrR,147040,4
9,9,Al Green,1972,Let's Stay Together,classic soul,funk,memphis soul,0.756,0.4010,7,...,0,0.0526,0.582,0.011000,0.0541,0.514,101.954,63xdwScd1Ai1GigAwQxE8y,199396,4

# TIME SIGNATURE PERCENTAGES

In [20]:
time_sig=final_df[final_df['time_signature']==4]
percent_time_sig=time_sig['track_name'].count()/final_df['track_name'].count() *100
percent_time_sig

92.85714285714286

# GENRES

In [21]:
genres=final_df[['year','primary_genre','sub_genre_1','sub_genre_2']]
genres['genre_count'] =1
genres

C:\Users\vital\AppData\Local\Temp\ipykernel_10540\3890133482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genre_count'] =1

    year    primary_genre         sub_genre_1    sub_genre_2  genre_count
0   1972  adult standards        classic soul          disco            1
1   1972  adult standards  brill building pop  bubblegum pop            1
2   1972  adult standards        classic rock           folk            1
3   1972         art rock  brill building pop   classic rock            1
4   1972  adult standards      easy listening         lounge            1
..   ...              ...                 ...            ...          ...
93  1972     classic soul    rhythm and blues           None            1
94  1972       album rock     australian rock   classic rock            1
95  1972     classic soul               disco           None            1
96  1972             funk                soul           None            1
97  1972     classic soul               disco           funk            1

[98 rows x 5 columns]

In [22]:
primary_g=genres[['year','primary_genre', 'genre_count']]
primary_g=primary_g.groupby(['year','primary_genre'])['genre_count'].sum()
primary_g=pd.DataFrame(primary_g).reset_index().sort_values(['genre_count'], ascending=False)
primary_g=primary_g.reset_index()
primary_g=primary_g.drop(columns=['index'])
primary_g=primary_g.reset_index()
primary_g['pg_count']= primary_g['primary_genre'].count()

In [23]:
sub_g_1=genres[['year','sub_genre_1', 'genre_count']]
sub_g_1=sub_g_1.groupby(['year','sub_genre_1'])['genre_count'].sum()
sub_g_1=pd.DataFrame(sub_g_1).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_1=sub_g_1.reset_index()
sub_g_1=sub_g_1.drop(columns=['index'])
sub_g_1=sub_g_1.reset_index()
sub_g_1['s1_count']= sub_g_1['sub_genre_1'].count()

In [24]:
sub_g_2=genres[['year','sub_genre_2', 'genre_count']]
sub_g_2=sub_g_2.groupby(['year','sub_genre_2'])['genre_count'].sum()
sub_g_2=pd.DataFrame(sub_g_2).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_2=sub_g_2.reset_index()
sub_g_2=sub_g_2.drop(columns=['index'])
sub_g_2=sub_g_2.reset_index()
sub_g_2['s2_count']= sub_g_2['sub_genre_2'].count()

In [25]:
genre_df=primary_g.merge(sub_g_1, how='left', on='index')
genre_df=genre_df.merge(sub_g_2, how='left', on='index')
genre_df=genre_df.drop(columns=['year_y','year']).head(15)
genre_df=genre_df.rename(columns={'year_x':'year','genre_count_x':'p_gen_count','genre_count_y':'sg1_count','genre_count':'sg2_count'})
genre_df

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,1972,adult standards,17,26,brill building pop,11,35,classic rock,11.0,25.0
1,1,1972,classic soul,17,26,classic rock,8,35,soul,6.0,25.0
2,2,1972,album rock,14,26,classic soul,8,35,funk,6.0,25.0
3,3,1972,bubblegum pop,6,26,art rock,8,35,bubblegum pop,5.0,25.0
4,4,1972,funk,4,26,funk,6,35,country rock,5.0,25.0
5,5,1972,classic rock,4,26,disco,5,35,disco,5.0,25.0
6,6,1972,chicago soul,4,26,bubblegum pop,4,35,folk,5.0,25.0
7,7,1972,art rock,3,26,folk rock,3,35,memphis soul,5.0,25.0
8,8,1972,classic country pop,2,26,folk,2,35,blues rock,4.0,25.0
9,9,1972,pop,2,26,philly soul,2,35,mellow gold,3.0,25.0
10,10,1972,country rock,2,26,soft rock,2,35,folk rock,2.0,25.0
11,11,1972,classic uk pop,2,26,quiet storm,2,35,quiet storm,2.0,25.0
12,12,1972,brill building pop,2,26,country rock,2,35,rock,1.0,25.0
13,13,1972,canadian singer-songwriter,1,26,r&b,2,35,psychedelic soul,1.0,25.0
14,14,1972,british folk,1,26,nederpop,1,35,piano rock,1.0,25.0

# AUDIO FEATURES

# DANCEABILITY

In [26]:
top_10_dance_avg=final_df.head(10)
top_10_dance_avg=top_10_dance_avg['danceability'].sum()/top_10_dance_avg['danceability'].count()*100
num_1_dance=final_df['danceability']*100

dance_df=pd.DataFrame({'dance_avg':[final_df['danceability'].sum()/final_df['danceability'].count()*100],
                 'top10_dance_avg':[top_10_dance_avg],
                 'top_song_dance': [num_1_dance.iloc[0]]
                })
dance_df=dance_df.reset_index()
dance_df

   index  dance_avg  top10_dance_avg  top_song_dance
0      0  57.580612            58.28            31.1

# ENERGY

In [27]:
top_10_energy_avg=final_df.head(10)
top_10_energy_avg=top_10_energy_avg['energy'].sum()/top_10_energy_avg['energy'].count()*100
num_1_energy=final_df['energy']*100

energy_df=pd.DataFrame({'energy_avg':[final_df['energy'].sum()/final_df['energy'].count()*100],
                 'top10_energy_avg':[top_10_energy_avg],
                 'top_song_energy': [num_1_energy.iloc[0]]
                })
energy_df=energy_df.reset_index()
energy_df

   index  energy_avg  top10_energy_avg  top_song_energy
0      0   52.969796            37.934             2.64

# LIVENESS

In [28]:
top_10_live_avg=final_df.head(10)
top_10_live_avg=top_10_live_avg['liveness'].sum()/top_10_live_avg['liveness'].count()*100
num_1_live=final_df['liveness']*100

live_df=pd.DataFrame({'live_avg':[final_df['liveness'].sum()/final_df['liveness'].count()*100],
                 'top10_live_avg':[top_10_live_avg],
                 'top_song_live': [num_1_live.iloc[0]]
                })
live_df=live_df.reset_index()
live_df

   index   live_avg  top10_live_avg  top_song_live
0      0  19.247449          15.027           15.6

# DURATION

In [29]:
top_10_duration_avg=final_df.head(10)
top_10_duration_avg=(top_10_duration_avg['duration_ms'].sum()/top_10_duration_avg['duration_ms'].count())/(60*1000)
num_1_duration=(final_df['duration_ms'])/(60*1000)

duration_df=pd.DataFrame({'dur_avg':[(final_df['duration_ms'].sum()/final_df['duration_ms'].count())/(60*1000)],
                 'top10_dur_avg':[top_10_duration_avg],
                 'top_song_dur': [num_1_duration.iloc[0]]
                })
duration_df=duration_df.reset_index()
duration_df

   index   dur_avg  top10_dur_avg  top_song_dur
0      0  3.566873       3.870887      4.344433

# TEMPO

In [30]:
top_10_tempo_avg=final_df.head(10)
top_10_tempo_avg=(top_10_tempo_avg['tempo'].sum()/top_10_tempo_avg['tempo'].count())
num_1_tempo=(final_df['tempo'])

tempo_df=pd.DataFrame({'tempo_avg':[(final_df['tempo'].sum()/final_df['tempo'].count())],
                 'top10_tempo_avg':[top_10_tempo_avg],
                 'top_song_tempo': [num_1_tempo.iloc[0]]
                })
tempo_df=tempo_df.reset_index()
tempo_df

   index  tempo_avg  top10_tempo_avg  top_song_tempo
0      0  121.08551         106.3073         120.653

# VALENCE- Music Positiveness

In [31]:
top_10_valence_avg=final_df.head(10)
top_10_valence_avg=(top_10_valence_avg['valence'].sum()/top_10_valence_avg['valence'].count()*100)
num_1_valence=(final_df['valence'])*100

valence_df=pd.DataFrame({'valence_avg':[(final_df['valence'].sum()/final_df['valence'].count()*100)],
                 'top10_valence_avg':[top_10_valence_avg],
                 'top_song_valence': [num_1_valence.iloc[0]]
                })
valence_df=valence_df.reset_index()
valence_df

   index  valence_avg  top10_valence_avg  top_song_valence
0      0    66.111224               55.7              13.9

# ACOUSTICNESS

In [32]:
top_10_accoustic_avg=final_df.head(10)
top_10_accoustic_avg=(top_10_accoustic_avg['acousticness'].sum()/top_10_accoustic_avg['acousticness'].count()*100)
num_1_accoustic=(final_df['acousticness'])*100

accoustic_df=pd.DataFrame({'accoustic_avg':[(final_df['acousticness'].sum()/final_df['acousticness'].count()*100)],
                 'top10_accoustic_avg':[top_10_accoustic_avg],
                 'top_song_accoustic': [num_1_accoustic.iloc[0]]
                })
accoustic_df=accoustic_df.reset_index()
accoustic_df

   index  accoustic_avg  top10_accoustic_avg  top_song_accoustic
0      0      43.850204                59.18                73.1

# SPEECHINESS

In [33]:
top_10_speechiness_avg=final_df.head(10)
top_10_speechiness_avg=(top_10_speechiness_avg['speechiness'].sum()/top_10_speechiness_avg['speechiness'].count()*100)
num_1_speechiness=(final_df['speechiness'])*100

speechiness_df=pd.DataFrame({'speechiness_avg':[(final_df['speechiness'].sum()/final_df['speechiness'].count()*100)],
                 'top10_speechiness_avg':[top_10_accoustic_avg],
                 'top_song_speechiness': [num_1_accoustic.iloc[0]]
                })
speechiness_df=speechiness_df.reset_index()
speechiness_df

   index  speechiness_avg  top10_speechiness_avg  top_song_speechiness
0      0         5.655306                  59.18                  73.1

# KEY

In [34]:
key_trns=final_df[['track_name','key','mode']]
key_trns.dtypes

track_name    object
key            int64
mode           int64
dtype: object

In [35]:
for index, row in key_trns.iterrows():
    key= int(row['key'])
    if key == 0 : 
        key_trns.loc[index,'key_a']= 'C'
    elif key ==1 : 
        key_trns.loc[index,'key_a']= 'C#'
    elif key ==2 : 
        key_trns.loc[index,'key_a']= 'D'
    elif key ==3 : 
        key_trns.loc[index,'key_a']= 'D#'
    elif key ==4 : 
        key_trns.loc[index,'key_a']= 'E'
    elif key ==5 : 
        key_trns.loc[index,'key_a']= 'F'
    elif key ==6 : 
        key_trns.loc[index,'key_a']= 'F#'
    elif key ==7 : 
        key_trns.loc[index,'key_a']= 'G'
    elif key ==8 : 
        key_trns.loc[index,'key_a']= 'G#'
    elif key ==9 : 
        key_trns.loc[index,'key_a']= 'A'
    elif key ==10 : 
        key_trns.loc[index,'key_a']= 'A#'
    elif key ==11 : 
        key_trns.loc[index,'key_a']= 'B'
    else:
        key_trns.loc[index,'key_a']= 'ERROR'        

for index, row in key_trns.iterrows():
    mode= int(row['mode'])
    if mode == 1 : 
        key_trns.loc[index,'M_m']= 'Major'
    elif mode ==0 : 
        key_trns.loc[index,'M_m']= 'minor'
    else:
        key_trns.loc[index,'M_m']= 'ERROR'

C:\Users\vital\AppData\Local\Temp\ipykernel_10540\1186037428.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'key_a']= 'C'
C:\Users\vital\AppData\Local\Temp\ipykernel_10540\1186037428.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'M_m']= 'Major'

In [36]:
key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']
key_trns_f=key_trns.drop(columns=['key', 'mode','key_a','M_m'])
key_trns_f['count']=1
key_trns_f.head()

C:\Users\vital\AppData\Local\Temp\ipykernel_10540\2755823312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']

                            track_name alph_key  count
0  The First Time Ever I Saw Your Face   CMajor      1
1              Alone Again (Naturally)  G#minor      1
2                         American Pie   Eminor      1
3                          Without You   EMajor      1
4                        The Candy Man   CMajor      1

In [37]:
pop_keys=key_trns_f.groupby(['alph_key'])['count'].count()
pop_keys= pd.DataFrame(pop_keys).reset_index().sort_values('count',ascending =False)
pop_keys= pop_keys.reset_index()
pop_keys= pop_keys.drop(columns=['index'])
pop_keys

   alph_key  count
0    CMajor     11
1    AMajor     10
2    GMajor      8
3    FMajor      8
4    Eminor      8
5   A#Major      7
6    EMajor      7
7    DMajor      7
8    Bminor      6
9   C#Major      5
10  C#minor      3
11   BMajor      3
12  G#Major      3
13  D#Major      2
14   Dminor      2
15   Fminor      2
16  G#minor      2
17   Cminor      1
18  F#minor      1
19   Aminor      1
20   Gminor      1

# FINAL SETS

# ENERGY-DANCE_TEMPO

In [38]:
energy_1972_df=dance_df.merge(tempo_df, how='left', on='index')
energy_1972_df=energy_1972_df.merge(energy_df, how='left', on='index')
energy_1972_df['year']=1972
energy_1972_df

,index,dance_avg,top10_dance_avg,top_song_dance,tempo_avg,top10_tempo_avg,top_song_tempo,energy_avg,top10_energy_avg,top_song_energy,year
0,0,57.580612,58.28,31.1,121.08551,106.3073,120.653,52.969796,37.934,2.64,1972

In [59]:
energy_1972_df.to_csv('../data/energy_1972_df')

# VALENCE- ACCOUSTINESS- SPEECHINESS

In [39]:
tone1972_df=valence_df.merge(accoustic_df, how='left', on='index')
tone1972_df=tone1972_df.merge(speechiness_df, how='left', on='index')
tone1972_df['year']=1972
tone1972_df

,index,valence_avg,top10_valence_avg,top_song_valence,accoustic_avg,top10_accoustic_avg,top_song_accoustic,speechiness_avg,top10_speechiness_avg,top_song_speechiness,year
0,0,66.111224,55.7,13.9,43.850204,59.18,73.1,5.655306,59.18,73.1,1972

In [57]:
tone1972_df.to_csv('../data/tone1972_df')

# LIVENESS- DURATION

In [40]:
duration_1972_df=duration_df.merge(live_df, how='left', on='index')
duration_1972_df['year']=1972
duration_1972_df

,index,dur_avg,top10_dur_avg,top_song_dur,live_avg,top10_live_avg,top_song_live,year
0,0,3.566873,3.870887,4.344433,19.247449,15.027,15.6,1972

In [56]:
duration_1972_df.to_csv('../data/duration_1972_df')

# MOST POPULAR KEYS

In [41]:
pop_keys['year']=1972
pop_key_1972= pop_keys.reset_index()
pop_key_1972

    index alph_key  count  year
0       0   CMajor     11  1972
1       1   AMajor     10  1972
2       2   GMajor      8  1972
3       3   FMajor      8  1972
4       4   Eminor      8  1972
5       5  A#Major      7  1972
6       6   EMajor      7  1972
7       7   DMajor      7  1972
8       8   Bminor      6  1972
9       9  C#Major      5  1972
10     10  C#minor      3  1972
11     11   BMajor      3  1972
12     12  G#Major      3  1972
13     13  D#Major      2  1972
14     14   Dminor      2  1972
15     15   Fminor      2  1972
16     16  G#minor      2  1972
17     17   Cminor      1  1972
18     18  F#minor      1  1972
19     19   Aminor      1  1972
20     20   Gminor      1  1972

In [55]:
pop_key_1972.to_csv('../data/pop_key_1972')

# MOST POPULAR GENRES

In [42]:
genre_df_1972=genre_df
genre_df_1972

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,1972,adult standards,17,26,brill building pop,11,35,classic rock,11.0,25.0
1,1,1972,classic soul,17,26,classic rock,8,35,soul,6.0,25.0
2,2,1972,album rock,14,26,classic soul,8,35,funk,6.0,25.0
3,3,1972,bubblegum pop,6,26,art rock,8,35,bubblegum pop,5.0,25.0
4,4,1972,funk,4,26,funk,6,35,country rock,5.0,25.0
5,5,1972,classic rock,4,26,disco,5,35,disco,5.0,25.0
6,6,1972,chicago soul,4,26,bubblegum pop,4,35,folk,5.0,25.0
7,7,1972,art rock,3,26,folk rock,3,35,memphis soul,5.0,25.0
8,8,1972,classic country pop,2,26,folk,2,35,blues rock,4.0,25.0
9,9,1972,pop,2,26,philly soul,2,35,mellow gold,3.0,25.0
10,10,1972,country rock,2,26,soft rock,2,35,folk rock,2.0,25.0
11,11,1972,classic uk pop,2,26,quiet storm,2,35,quiet storm,2.0,25.0
12,12,1972,brill building pop,2,26,country rock,2,35,rock,1.0,25.0
13,13,1972,canadian singer-songwriter,1,26,r&b,2,35,psychedelic soul,1.0,25.0
14,14,1972,british folk,1,26,nederpop,1,35,piano rock,1.0,25.0

In [54]:
genre_df_1972.to_csv('../data/genre_df_1972')

# TIME SIGNATURE PERCENTAGES

In [52]:
percent_time_sig_1972=percent_time_sig
percent_time_sig_1972=pd.DataFrame({'time_sig_72':[percent_time_sig_1972]}).reset_index()
percent_time_sig_1972

   index  time_sig_72
0      0    92.857143

In [53]:
percent_time_sig_1972.to_csv('../data/percent_time_sig_1972')

# FINAL FULL DATAFRAME

In [44]:
final_1972_df=final_df
final_1972_df

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Roberta Flack,1972,The First Time Ever I Saw Your Face,adult standards,classic soul,disco,0.311,0.0264,0,...,1,0.0370,0.7310,0.002050,0.1560,0.139,120.653,0SxFyA4FqmEQqZVuAlg8lf,260666,4
1,1,Gilbert O'Sullivan,1972,Alone Again (Naturally),adult standards,brill building pop,bubblegum pop,0.558,0.4640,8,...,0,0.0354,0.5830,0.000133,0.1590,0.558,171.762,6vuEG9sZtC4W2zT64f7zLF,217729,4
2,2,Don McLean,1972,American Pie,adult standards,classic rock,folk,0.531,0.4810,4,...,0,0.0600,0.6990,0.000000,0.0842,0.491,138.450,1fDsrQ23eTAVFElUMaf38X,516893,4
3,3,Harry Nilsson,1972,Without You,art rock,brill building pop,classic rock,0.381,0.1860,4,...,1,0.0290,0.6130,0.000003,0.0694,0.142,65.058,6MrILERJLA3Jcq0E9poZsp,201000,4
4,4,Sammy Davis Jr.,1972,The Candy Man,adult standards,easy listening,lounge,0.634,0.5600,0,...,1,0.0370,0.6810,0.000000,0.3670,0.880,131.641,5X3XrHlCFVGqNKpGp85xVC,188227,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,93,The Detroit Emeralds,1972,Baby Let Me Take You (In My Arms),classic soul,rhythm and blues,None,0.564,0.4950,6,...,0,0.0463,0.2270,0.000113,0.0685,0.500,81.580,2zE47i0dZKBoSIFJGhtpG9,230360,4
94,94,Rick Springfield,1972,Speak To The Sky,album rock,australian rock,classic rock,0.583,0.6590,9,...,1,0.0308,0.5840,0.000009,0.1250,0.788,96.106,3U7WGQgdrFM9SWbVkPQSPn,162987,4
95,95,Love Unlimited,1972,Walkin' In The Rain With The One I Love,classic soul,disco,None,0.424,0.5940,10,...,1,0.0551,0.3410,0.000282,0.4130,0.590,137.535,4Ev3gucC4JAUbHJrHpY70w,287933,4
96,96,James Brown,1972,Get On The Good Foot,funk,soul,None,0.899,0.7640,7,...,1,0.1370,0.0384,0.000000,0.0354,0.747,108.445,7eoNNyyusSxTQeCtWMWdr0,214933,4
97,97,The Isley Brothers,1972,Pop That Thang,classic soul,disco,funk,0.717,0.6550,11,...,0,0.1250,0.2740,0.000000,0.1100,0.877,158.636,4jsiIeVm7ZcCJRpq8opfMa,172760,4

In [47]:
final_1972_df.to_csv('../data/final_1972_df')

In [45]:
final_1972_df.head(10)

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Roberta Flack,1972,The First Time Ever I Saw Your Face,adult standards,classic soul,disco,0.311,0.0264,0,...,1,0.0370,0.731,0.002050,0.1560,0.139,120.653,0SxFyA4FqmEQqZVuAlg8lf,260666,4
1,1,Gilbert O'Sullivan,1972,Alone Again (Naturally),adult standards,brill building pop,bubblegum pop,0.558,0.4640,8,...,0,0.0354,0.583,0.000133,0.1590,0.558,171.762,6vuEG9sZtC4W2zT64f7zLF,217729,4
2,2,Don McLean,1972,American Pie,adult standards,classic rock,folk,0.531,0.4810,4,...,0,0.0600,0.699,0.000000,0.0842,0.491,138.450,1fDsrQ23eTAVFElUMaf38X,516893,4
3,3,Harry Nilsson,1972,Without You,art rock,brill building pop,classic rock,0.381,0.1860,4,...,1,0.0290,0.613,0.000003,0.0694,0.142,65.058,6MrILERJLA3Jcq0E9poZsp,201000,4
4,4,Sammy Davis Jr.,1972,The Candy Man,adult standards,easy listening,lounge,0.634,0.5600,0,...,1,0.0370,0.681,0.000000,0.3670,0.880,131.641,5X3XrHlCFVGqNKpGp85xVC,188227,4
5,5,Joe Tex,1972,I GOTCHA,northern soul,southern soul,None,0.840,0.8560,8,...,1,0.3280,0.182,0.000297,0.3060,0.763,93.410,3t5caUWBhKDgy1ypsxRcg4,148813,4
6,6,Bill Withers,1972,Lean on Me,funk,quiet storm,soul,0.619,0.2200,0,...,1,0.0672,0.782,0.000012,0.1240,0.426,75.143,3M8FzayQWtkvOhqMn2V4T2,258835,4
7,7,Mac Davis,1972,Baby Don't Get Hooked on Me,bubblegum pop,classic country pop,country rock,0.495,0.3070,9,...,1,0.0403,0.260,0.000052,0.1030,0.802,80.970,4z51Gf7Ppt9Lmu5zmnUIz9,183933,4
8,8,Melanie,1972,Brand New Key,classic uk pop,folk,folk rock,0.703,0.2920,1,...,1,0.0360,0.805,0.000004,0.0800,0.855,84.032,7da5B9d2oVV16YSzXVxmrR,147040,4
9,9,Al Green,1972,Let's Stay Together,classic soul,funk,memphis soul,0.756,0.4010,7,...,0,0.0526,0.582,0.011000,0.0541,0.514,101.954,63xdwScd1Ai1GigAwQxE8y,199396,4