# PERMISSIONS AUTHORIZATION

In [1]:
import requests
import pandas as pd
from pandas import DataFrame
import numpy as np
from itertools import chain
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
CLIENT_ID = 'c7d16c8600ab433ea5aede2202285c1e'
CLIENT_SECRET = '69b7f20b150845a1ae6427a66f14d780'

In [3]:
AUTH_URL = 'https://accounts.spotify.com/api/token'

# POST
auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': CLIENT_ID,
    'client_secret': CLIENT_SECRET,
})

# convert the response to JSON
auth_response_data = auth_response.json()

# save the access token
access_token = auth_response_data['access_token']

In [4]:
#needs to be updated every hour
headers = {
    'Authorization': 'Bearer BQC7gMsDxQkgOzIuvAf9aw1_D0aaaZttROrrULC89ROpMh8n0D2IGjmyCvylT6DC_k1Odwtn7EkwY1ADD-vbY5_Ebfb884gmajK1z5xl_gvILioBI9MWkm-MWx58cCpROsM_WKnF2_Vjly6bKrh_-HEbX6lNaO4UZnPZFs0fa-2b_Q3F0BGGbnzJVL0ah1Y-nJU'.format(token=access_token)
}

# PULLING IN BILLBOARD 2002

In [5]:
import spotipy
sp = spotipy.Spotify()
from spotipy.oauth2 import SpotifyClientCredentials

In [6]:
#Authentication - without user
client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [7]:
playlist_link = "https://open.spotify.com/embed/playlist/4TG8HBGn9f7EbiV5cibtsj?utm_source=generator"
playlist_URI = playlist_link.split("/")[-1].split("?")[0]
track_uris = [x["track"]["uri"] for x in sp.playlist_tracks(playlist_URI)["items"]]

In [8]:
    for track in sp.playlist_tracks(playlist_URI)["items"]:
        #URI
        track_uri = track["track"]["uri"]

        #Track name
        track_name = track["track"]["name"]

        #Main Artist
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)

        #Name, popularity, genre
        artist_name = track["track"]["artists"][0]["name"]
        
        #artist_pop = artist_info["popularity"]
        artist_genres = artist_info["genres"]

        #Album
        album = track["track"]["album"]["name"]

        #Popularity of the track
        track_pop = track["track"]["popularity"]
        
        #Track Name
        track_name = track["track"]["name"]
        
        #Track URI
        track_uri = track["track"]["uri"]

# TRACK URI

In [9]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_uri = track["track"]["uri"]
        track_name = track["track"]["name"]
        result = track_uri#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_u = get_tracks()

In [10]:
t_uri=pd.DataFrame(track_u)
t_uri=t_uri.rename(columns={0:'track_uri'})
t_uri=t_uri['track_uri'].str.lstrip('spotify:track:')
t_uri=pd.DataFrame(t_uri)

# ARTIST NAME

In [11]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_name = track["track"]["artists"][0]["name"]
        result = artist_name
        tracks.append(result)

    return tracks


artist_name = get_tracks()

In [12]:
a_name=pd.DataFrame(artist_name).reset_index()
a_name=a_name.rename(columns={0:'artist_name'})
a_name['year']=2002

# TRACK NAME

In [13]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        result = track_name#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_name = get_tracks()

In [14]:
t_name=pd.DataFrame(track_name).reset_index()
t_name=t_name.rename(columns={0:'track_name'})

# AUDIO FEATURES

In [15]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        track_uri = track["track"]["uri"]
        result = sp.audio_features(track_uri)[0]
        tracks.append(result)
        #result=pd.concat([sp.audio_features, tracks], axis=0)
    return tracks


audio = get_tracks()

audio

In [16]:
audio_fea=pd.DataFrame(audio).reset_index()
audio_fea=audio_fea.drop(columns=['type','uri','track_href','analysis_url'])
audio_fea=audio_fea.rename(columns={'id':'track_uri'})

# GENRES

In [17]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)
        artist_genres = artist_info["genres"]
        result = artist_genres
        tracks.append(result)

    return tracks


track_genres = get_tracks()

In [18]:
genres=pd.DataFrame(track_genres)
genres=genres.rename(columns={0:'primary_genre',1:'sub_genre_1', 2:'sub_genre_2'})
genres= genres[['primary_genre','sub_genre_1','sub_genre_2']].reset_index()

In [19]:
final_df=a_name.merge(t_name, how='left', on='index')
final_df=final_df.merge(genres, how='left', on='index')
final_df=final_df.merge(audio_fea, how='left', on='index')
final_df.head(10)

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Nickelback,2002,How You Remind Me,alternative metal,canadian rock,nu metal,0.545,0.777,10,...,1,0.0265,0.000866,0.000000,0.0960,0.558,85.974,56NRHWyi7rKiiUgh72u0oO,222800,4
1,1,Ashanti,2002,Foolish - Mainstream Edit,dance pop,hip hop,hip pop,0.644,0.574,0,...,1,0.0682,0.379000,0.000000,0.1290,0.752,90.213,3NT4deyIUzzqL63rNHgYNM,207200,4
2,2,Nelly,2002,Hot In Herre,dance pop,gangster rap,hip hop,0.966,0.763,2,...,1,0.1450,0.243000,0.000000,0.0637,0.916,107.050,51FEdPwVSWCFspiWtt8gjJ,228533,4
3,3,The Calling,2002,Wherever You Will Go,neo mellow,pop rock,None,0.551,0.696,2,...,1,0.0265,0.039200,0.000000,0.1270,0.354,112.024,37qI0mchgzUSeUhPiwUWPY,209360,4
4,4,Vanessa Carlton,2002,A Thousand Miles,lilith,neo mellow,piano rock,0.512,0.712,11,...,1,0.0322,0.375000,0.000000,0.1420,0.352,94.888,2JFEZO2ZxzffY0wd9MYEu3,238240,4
5,5,Linkin Park,2002,In the End,alternative metal,nu metal,post-grunge,0.556,0.864,3,...,0,0.0584,0.009580,0.000000,0.2090,0.400,105.143,60a0Rd6pjrkxjPbaKzXjfq,216880,4
6,6,Usher,2002,U Got It Bad,atl hip hop,contemporary r&b,dance pop,0.816,0.500,1,...,1,0.0300,0.022700,0.000002,0.0733,0.649,124.037,7J41dYQolQJEtj3UmKLu5r,247840,4
7,7,Puddle Of Mudd,2002,Blurry,alternative metal,alternative rock,modern rock,0.433,0.933,3,...,0,0.0496,0.009000,0.000000,0.1430,0.501,157.478,45E1IBsdnZ4LqIDRORyjti,304600,4
8,8,Avril Lavigne,2002,Complicated,canadian pop,candy pop,dance pop,0.585,0.776,5,...,1,0.0459,0.057200,0.000008,0.3000,0.427,77.987,5o4cq6gKFAbR1V7wITwB7n,244507,4
9,9,Jimmy Eat World,2002,The Middle,alternative rock,emo,modern power pop,0.634,0.886,2,...,1,0.0517,0.029100,0.000000,0.3420,0.922,161.933,5kD9T7GForh8LnRz5ClbL8,168253,4

# TIME SIGNATURE PERCENTAGES

In [20]:
time_sig=final_df[final_df['time_signature']==4]
percent_time_sig=time_sig['track_name'].count()/final_df['track_name'].count() *100
percent_time_sig

97.8021978021978

# GENRES

In [21]:
genres=final_df[['year','primary_genre','sub_genre_1','sub_genre_2']]
genres['genre_count'] =1
genres

C:\Users\vital\AppData\Local\Temp\ipykernel_37240\3890133482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genre_count'] =1

    year       primary_genre         sub_genre_1   sub_genre_2  genre_count
0   2002   alternative metal       canadian rock      nu metal            1
1   2002           dance pop             hip hop       hip pop            1
2   2002           dance pop        gangster rap       hip hop            1
3   2002          neo mellow            pop rock          None            1
4   2002              lilith          neo mellow    piano rock            1
..   ...                 ...                 ...           ...          ...
86  2002       bronx hip hop  east coast hip hop  gangster rap            1
87  2002           dance pop                 pop          None            1
88  2002           dance pop        gangster rap       hip hop            1
89  2002   alternative metal                None          None            1
90  2002  urban contemporary                None          None            1

[91 rows x 5 columns]

In [22]:
primary_g=genres[['year','primary_genre', 'genre_count']]
primary_g=primary_g.groupby(['year','primary_genre'])['genre_count'].sum()
primary_g=pd.DataFrame(primary_g).reset_index().sort_values(['genre_count'], ascending=False)
primary_g=primary_g.reset_index()
primary_g=primary_g.drop(columns=['index'])
primary_g=primary_g.reset_index()
primary_g['pg_count']= primary_g['primary_genre'].count()

In [23]:
sub_g_1=genres[['year','sub_genre_1', 'genre_count']]
sub_g_1=sub_g_1.groupby(['year','sub_genre_1'])['genre_count'].sum()
sub_g_1=pd.DataFrame(sub_g_1).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_1=sub_g_1.reset_index()
sub_g_1=sub_g_1.drop(columns=['index'])
sub_g_1=sub_g_1.reset_index()
sub_g_1['s1_count']= sub_g_1['sub_genre_1'].count()

In [24]:
sub_g_2=genres[['year','sub_genre_2', 'genre_count']]
sub_g_2=sub_g_2.groupby(['year','sub_genre_2'])['genre_count'].sum()
sub_g_2=pd.DataFrame(sub_g_2).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_2=sub_g_2.reset_index()
sub_g_2=sub_g_2.drop(columns=['index'])
sub_g_2=sub_g_2.reset_index()
sub_g_2['s2_count']= sub_g_2['sub_genre_2'].count()

In [25]:
genre_df=primary_g.merge(sub_g_1, how='left', on='index')
genre_df=genre_df.merge(sub_g_2, how='left', on='index')
genre_df=genre_df.drop(columns=['year_y','year']).head(15)
genre_df=genre_df.rename(columns={'year_x':'year','genre_count_x':'p_gen_count','genre_count_y':'sg1_count','genre_count':'sg2_count'})
genre_df

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,2002,dance pop,23,27,dance pop,16,29,hip pop,9,27
1,1,2002,contemporary r&b,8,27,hip hop,10,29,dance pop,7,27
2,2,2002,alternative metal,7,27,east coast hip hop,7,29,gangster rap,7,27
3,3,2002,contemporary country,7,27,country,7,29,hip hop,7,27
4,4,2002,hip pop,5,27,pop,4,29,country road,6,27
5,5,2002,alternative rock,4,27,hip pop,4,29,pop rock,4,27
6,6,2002,atl hip hop,4,27,neo mellow,3,29,dance rock,3,27
7,7,2002,canadian pop,4,27,nu metal,3,29,rap,3,27
8,8,2002,detroit hip hop,3,27,gangster rap,3,29,pop,3,27
9,9,2002,boy band,3,27,contemporary r&b,3,29,neo soul,3,27
10,10,2002,neo mellow,3,27,dirty south rap,2,29,latin,2,27
11,11,2002,bronx hip hop,2,27,candy pop,2,29,pop rap,2,27
12,12,2002,lilith,2,27,canadian rock,2,29,nu metal,2,27
13,13,2002,colombian pop,2,27,latin,2,29,piano rock,2,27
14,14,2002,hardcore hip hop,1,27,mellow gold,1,29,post-teen pop,2,27

# AUDIO FEATURES

# DANCEABILITY

In [26]:
top_10_dance_avg=final_df.head(10)
top_10_dance_avg=top_10_dance_avg['danceability'].sum()/top_10_dance_avg['danceability'].count()*100
num_1_dance=final_df['danceability']*100

dance_df=pd.DataFrame({'dance_avg':[final_df['danceability'].sum()/final_df['danceability'].count()*100],
                 'top10_dance_avg':[top_10_dance_avg],
                 'top_song_dance': [num_1_dance.iloc[0]]
                })
dance_df=dance_df.reset_index()
dance_df

   index  dance_avg  top10_dance_avg  top_song_dance
0      0   67.26044            62.42            54.5

# ENERGY

In [27]:
top_10_energy_avg=final_df.head(10)
top_10_energy_avg=top_10_energy_avg['energy'].sum()/top_10_energy_avg['energy'].count()*100
num_1_energy=final_df['energy']*100

energy_df=pd.DataFrame({'energy_avg':[final_df['energy'].sum()/final_df['energy'].count()*100],
                 'top10_energy_avg':[top_10_energy_avg],
                 'top_song_energy': [num_1_energy.iloc[0]]
                })
energy_df=energy_df.reset_index()
energy_df

   index  energy_avg  top10_energy_avg  top_song_energy
0      0    68.67033             74.81             77.7

# LIVENESS

In [28]:
top_10_live_avg=final_df.head(10)
top_10_live_avg=top_10_live_avg['liveness'].sum()/top_10_live_avg['liveness'].count()*100
num_1_live=final_df['liveness']*100

live_df=pd.DataFrame({'live_avg':[final_df['liveness'].sum()/final_df['liveness'].count()*100],
                 'top10_live_avg':[top_10_live_avg],
                 'top_song_live': [num_1_live.iloc[0]]
                })
live_df=live_df.reset_index()
live_df

   index   live_avg  top10_live_avg  top_song_live
0      0  16.655934           16.25            9.6

# DURATION

In [29]:
top_10_duration_avg=final_df.head(10)
top_10_duration_avg=(top_10_duration_avg['duration_ms'].sum()/top_10_duration_avg['duration_ms'].count())/(60*1000)
num_1_duration=(final_df['duration_ms'])/(60*1000)

duration_df=pd.DataFrame({'dur_avg':[(final_df['duration_ms'].sum()/final_df['duration_ms'].count())/(60*1000)],
                 'top10_dur_avg':[top_10_duration_avg],
                 'top_song_dur': [num_1_duration.iloc[0]]
                })
duration_df=duration_df.reset_index()
duration_df

   index   dur_avg  top10_dur_avg  top_song_dur
0      0  4.130386       3.813688      3.713333

# TEMPO

In [30]:
top_10_tempo_avg=final_df.head(10)
top_10_tempo_avg=(top_10_tempo_avg['tempo'].sum()/top_10_tempo_avg['tempo'].count())
num_1_tempo=(final_df['tempo'])

tempo_df=pd.DataFrame({'tempo_avg':[(final_df['tempo'].sum()/final_df['tempo'].count())],
                 'top10_tempo_avg':[top_10_tempo_avg],
                 'top_song_tempo': [num_1_tempo.iloc[0]]
                })
tempo_df=tempo_df.reset_index()
tempo_df

   index   tempo_avg  top10_tempo_avg  top_song_tempo
0      0  120.270385         111.6727          85.974

# VALENCE- Music Positiveness

In [31]:
top_10_valence_avg=final_df.head(10)
top_10_valence_avg=(top_10_valence_avg['valence'].sum()/top_10_valence_avg['valence'].count()*100)
num_1_valence=(final_df['valence'])*100

valence_df=pd.DataFrame({'valence_avg':[(final_df['valence'].sum()/final_df['valence'].count()*100)],
                 'top10_valence_avg':[top_10_valence_avg],
                 'top_song_valence': [num_1_valence.iloc[0]]
                })
valence_df=valence_df.reset_index()
valence_df

   index  valence_avg  top10_valence_avg  top_song_valence
0      0    59.302308              58.31              55.8

# ACOUSTICNESS

In [32]:
top_10_accoustic_avg=final_df.head(10)
top_10_accoustic_avg=(top_10_accoustic_avg['acousticness'].sum()/top_10_accoustic_avg['acousticness'].count()*100)
num_1_accoustic=(final_df['acousticness'])*100

accoustic_df=pd.DataFrame({'accoustic_avg':[(final_df['acousticness'].sum()/final_df['acousticness'].count()*100)],
                 'top10_accoustic_avg':[top_10_accoustic_avg],
                 'top_song_accoustic': [num_1_accoustic.iloc[0]]
                })
accoustic_df=accoustic_df.reset_index()
accoustic_df

   index  accoustic_avg  top10_accoustic_avg  top_song_accoustic
0      0      15.853605             11.64646              0.0866

# SPEECHINESS

In [33]:
top_10_speechiness_avg=final_df.head(10)
top_10_speechiness_avg=(top_10_speechiness_avg['speechiness'].sum()/top_10_speechiness_avg['speechiness'].count()*100)
num_1_speechiness=(final_df['speechiness'])*100

speechiness_df=pd.DataFrame({'speechiness_avg':[(final_df['speechiness'].sum()/final_df['speechiness'].count()*100)],
                 'top10_speechiness_avg':[top_10_accoustic_avg],
                 'top_song_speechiness': [num_1_accoustic.iloc[0]]
                })
speechiness_df=speechiness_df.reset_index()
speechiness_df

   index  speechiness_avg  top10_speechiness_avg  top_song_speechiness
0      0          9.75956               11.64646                0.0866

# KEY

In [34]:
key_trns=final_df[['track_name','key','mode']]
key_trns.dtypes

track_name    object
key            int64
mode           int64
dtype: object

In [35]:
for index, row in key_trns.iterrows():
    key= int(row['key'])
    if key == 0 : 
        key_trns.loc[index,'key_a']= 'C'
    elif key ==1 : 
        key_trns.loc[index,'key_a']= 'C#'
    elif key ==2 : 
        key_trns.loc[index,'key_a']= 'D'
    elif key ==3 : 
        key_trns.loc[index,'key_a']= 'D#'
    elif key ==4 : 
        key_trns.loc[index,'key_a']= 'E'
    elif key ==5 : 
        key_trns.loc[index,'key_a']= 'F'
    elif key ==6 : 
        key_trns.loc[index,'key_a']= 'F#'
    elif key ==7 : 
        key_trns.loc[index,'key_a']= 'G'
    elif key ==8 : 
        key_trns.loc[index,'key_a']= 'G#'
    elif key ==9 : 
        key_trns.loc[index,'key_a']= 'A'
    elif key ==10 : 
        key_trns.loc[index,'key_a']= 'A#'
    elif key ==11 : 
        key_trns.loc[index,'key_a']= 'B'
    else:
        key_trns.loc[index,'key_a']= 'ERROR'        

for index, row in key_trns.iterrows():
    mode= int(row['mode'])
    if mode == 1 : 
        key_trns.loc[index,'M_m']= 'Major'
    elif mode ==0 : 
        key_trns.loc[index,'M_m']= 'minor'
    else:
        key_trns.loc[index,'M_m']= 'ERROR'

C:\Users\vital\AppData\Local\Temp\ipykernel_37240\1186037428.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'key_a']= 'A#'
C:\Users\vital\AppData\Local\Temp\ipykernel_37240\1186037428.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'M_m']= 'Major'

In [36]:
key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']
key_trns_f=key_trns.drop(columns=['key', 'mode','key_a','M_m'])
key_trns_f['count']=1
key_trns_f.head()

C:\Users\vital\AppData\Local\Temp\ipykernel_37240\2755823312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']

                  track_name alph_key  count
0          How You Remind Me  A#Major      1
1  Foolish - Mainstream Edit   CMajor      1
2               Hot In Herre   DMajor      1
3       Wherever You Will Go   DMajor      1
4           A Thousand Miles   BMajor      1

In [37]:
pop_keys=key_trns_f.groupby(['alph_key'])['count'].count()
pop_keys= pd.DataFrame(pop_keys).reset_index().sort_values('count',ascending =False)
pop_keys= pop_keys.reset_index()
pop_keys= pop_keys.drop(columns=['index'])
pop_keys

   alph_key  count
0    DMajor     13
1   C#Major      8
2   G#Major      8
3   F#Major      6
4    GMajor      6
5    Bminor      5
6   C#minor      5
7    CMajor      5
8    BMajor      4
9    Aminor      4
10   Fminor      4
11  D#minor      3
12   EMajor      3
13   Eminor      3
14  A#minor      2
15   Dminor      2
16   AMajor      2
17  F#minor      2
18  G#minor      2
19  A#Major      1
20   FMajor      1
21   Cminor      1
22   Gminor      1

# FINAL SETS

# ENERGY-DANCE_TEMPO

In [38]:
energy_2002_df=dance_df.merge(tempo_df, how='left', on='index')
energy_2002_df=energy_2002_df.merge(energy_df, how='left', on='index')
energy_2002_df['year']=2002
energy_2002_df

,index,dance_avg,top10_dance_avg,top_song_dance,tempo_avg,top10_tempo_avg,top_song_tempo,energy_avg,top10_energy_avg,top_song_energy,year
0,0,67.26044,62.42,54.5,120.270385,111.6727,85.974,68.67033,74.81,77.7,2002

# VALENCE- ACCOUSTINESS- SPEECHINESS

In [39]:
tone2002_df=valence_df.merge(accoustic_df, how='left', on='index')
tone2002_df=tone2002_df.merge(speechiness_df, how='left', on='index')
tone2002_df['year']=2002
tone2002_df

,index,valence_avg,top10_valence_avg,top_song_valence,accoustic_avg,top10_accoustic_avg,top_song_accoustic,speechiness_avg,top10_speechiness_avg,top_song_speechiness,year
0,0,59.302308,58.31,55.8,15.853605,11.64646,0.0866,9.75956,11.64646,0.0866,2002

# LIVENESS- DURATION

In [40]:
duration_2002_df=duration_df.merge(live_df, how='left', on='index')
duration_2002_df['year']=2002
duration_2002_df

,index,dur_avg,top10_dur_avg,top_song_dur,live_avg,top10_live_avg,top_song_live,year
0,0,4.130386,3.813688,3.713333,16.655934,16.25,9.6,2002

# MOST POPULAR KEYS

In [41]:
pop_keys['year']=2002
pop_key_2002= pop_keys.reset_index()
pop_key_2002

    index alph_key  count  year
0       0   DMajor     13  2002
1       1  C#Major      8  2002
2       2  G#Major      8  2002
3       3  F#Major      6  2002
4       4   GMajor      6  2002
5       5   Bminor      5  2002
6       6  C#minor      5  2002
7       7   CMajor      5  2002
8       8   BMajor      4  2002
9       9   Aminor      4  2002
10     10   Fminor      4  2002
11     11  D#minor      3  2002
12     12   EMajor      3  2002
13     13   Eminor      3  2002
14     14  A#minor      2  2002
15     15   Dminor      2  2002
16     16   AMajor      2  2002
17     17  F#minor      2  2002
18     18  G#minor      2  2002
19     19  A#Major      1  2002
20     20   FMajor      1  2002
21     21   Cminor      1  2002
22     22   Gminor      1  2002

# MOST POPULAR GENRES

In [42]:
genre_df_2002=genre_df
genre_df_2002

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,2002,dance pop,23,27,dance pop,16,29,hip pop,9,27
1,1,2002,contemporary r&b,8,27,hip hop,10,29,dance pop,7,27
2,2,2002,alternative metal,7,27,east coast hip hop,7,29,gangster rap,7,27
3,3,2002,contemporary country,7,27,country,7,29,hip hop,7,27
4,4,2002,hip pop,5,27,pop,4,29,country road,6,27
5,5,2002,alternative rock,4,27,hip pop,4,29,pop rock,4,27
6,6,2002,atl hip hop,4,27,neo mellow,3,29,dance rock,3,27
7,7,2002,canadian pop,4,27,nu metal,3,29,rap,3,27
8,8,2002,detroit hip hop,3,27,gangster rap,3,29,pop,3,27
9,9,2002,boy band,3,27,contemporary r&b,3,29,neo soul,3,27
10,10,2002,neo mellow,3,27,dirty south rap,2,29,latin,2,27
11,11,2002,bronx hip hop,2,27,candy pop,2,29,pop rap,2,27
12,12,2002,lilith,2,27,canadian rock,2,29,nu metal,2,27
13,13,2002,colombian pop,2,27,latin,2,29,piano rock,2,27
14,14,2002,hardcore hip hop,1,27,mellow gold,1,29,post-teen pop,2,27

# TIME SIGNATURE PERCENTAGES

In [43]:
percent_time_sig_2002=percent_time_sig
percent_time_sig_2002

97.8021978021978

# FINAL FULL DATAFRAME

In [44]:
final_2002_df=final_df
final_2002_df

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Nickelback,2002,How You Remind Me,alternative metal,canadian rock,nu metal,0.545,0.777,10,...,1,0.0265,0.000866,0.000000,0.0960,0.558,85.974,56NRHWyi7rKiiUgh72u0oO,222800,4
1,1,Ashanti,2002,Foolish - Mainstream Edit,dance pop,hip hop,hip pop,0.644,0.574,0,...,1,0.0682,0.379000,0.000000,0.1290,0.752,90.213,3NT4deyIUzzqL63rNHgYNM,207200,4
2,2,Nelly,2002,Hot In Herre,dance pop,gangster rap,hip hop,0.966,0.763,2,...,1,0.1450,0.243000,0.000000,0.0637,0.916,107.050,51FEdPwVSWCFspiWtt8gjJ,228533,4
3,3,The Calling,2002,Wherever You Will Go,neo mellow,pop rock,None,0.551,0.696,2,...,1,0.0265,0.039200,0.000000,0.1270,0.354,112.024,37qI0mchgzUSeUhPiwUWPY,209360,4
4,4,Vanessa Carlton,2002,A Thousand Miles,lilith,neo mellow,piano rock,0.512,0.712,11,...,1,0.0322,0.375000,0.000000,0.1420,0.352,94.888,2JFEZO2ZxzffY0wd9MYEu3,238240,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,86,Fat Joe,2002,We Thuggin' (feat. R. Kelly),bronx hip hop,east coast hip hop,gangster rap,0.896,0.649,8,...,1,0.2080,0.177000,0.000000,0.0759,0.822,99.107,2EcW94ak7kYH4mDMvI7iWg,213533,4
87,87,Justin Timberlake,2002,Like I Love You,dance pop,pop,None,0.853,0.811,6,...,0,0.0646,0.043900,0.000307,0.0703,0.900,114.964,6W2Ef5Ph6ILTUAedoQ3QIv,283627,4
88,88,Nelly,2002,Dilemma,dance pop,gangster rap,hip hop,0.727,0.552,2,...,0,0.1400,0.227000,0.000164,0.1980,0.607,168.189,0ARK753YaiJbpLUk7z5yIM,289160,4
89,89,Chad Kroeger,2002,Hero (feat. Josey Scott),alternative metal,None,None,0.427,0.843,4,...,1,0.0364,0.002160,0.000000,0.1790,0.304,147.387,779ooI3rBd0CLqCiiJmtVo,200480,3
90,90,Mario Vazquez,2002,Just A Friend,urban contemporary,None,None,0.718,0.499,9,...,0,0.0420,0.123000,0.000000,0.0586,0.151,117.955,1xhgmhUBlwn4PbRzc3uyDO,266680,4