# PERMISSIONS AUTHORIZATION

In [1]:
import requests
import pandas as pd
from pandas import DataFrame
import numpy as np
from itertools import chain
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
CLIENT_ID = 'c7d16c8600ab433ea5aede2202285c1e'
CLIENT_SECRET = '69b7f20b150845a1ae6427a66f14d780'

In [3]:
AUTH_URL = 'https://accounts.spotify.com/api/token'

# POST
auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': CLIENT_ID,
    'client_secret': CLIENT_SECRET,
})

# convert the response to JSON
auth_response_data = auth_response.json()

# save the access token
access_token = auth_response_data['access_token']

In [4]:
#needs to be updated every hour
headers = {
    'Authorization': 'Bearer BQC7gMsDxQkgOzIuvAf9aw1_D0aaaZttROrrULC89ROpMh8n0D2IGjmyCvylT6DC_k1Odwtn7EkwY1ADD-vbY5_Ebfb884gmajK1z5xl_gvILioBI9MWkm-MWx58cCpROsM_WKnF2_Vjly6bKrh_-HEbX6lNaO4UZnPZFs0fa-2b_Q3F0BGGbnzJVL0ah1Y-nJU'.format(token=access_token)
}

# PULLING IN BILLBOARD 2012

In [5]:
import spotipy
sp = spotipy.Spotify()
from spotipy.oauth2 import SpotifyClientCredentials

In [6]:
#Authentication - without user
client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [7]:
playlist_link = "https://open.spotify.com/embed/playlist/2Inm8T8QcA90nbOGshxHLo?utm_source=generator"
playlist_URI = playlist_link.split("/")[-1].split("?")[0]
track_uris = [x["track"]["uri"] for x in sp.playlist_tracks(playlist_URI)["items"]]

In [8]:
    for track in sp.playlist_tracks(playlist_URI)["items"]:
        #URI
        track_uri = track["track"]["uri"]

        #Track name
        track_name = track["track"]["name"]

        #Main Artist
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)

        #Name, popularity, genre
        artist_name = track["track"]["artists"][0]["name"]
        
        #artist_pop = artist_info["popularity"]
        artist_genres = artist_info["genres"]

        #Album
        album = track["track"]["album"]["name"]

        #Popularity of the track
        track_pop = track["track"]["popularity"]
        
        #Track Name
        track_name = track["track"]["name"]
        
        #Track URI
        track_uri = track["track"]["uri"]

# TRACK URI

In [9]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_uri = track["track"]["uri"]
        track_name = track["track"]["name"]
        result = track_uri#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_u = get_tracks()

In [10]:
t_uri=pd.DataFrame(track_u)
t_uri=t_uri.rename(columns={0:'track_uri'})
t_uri=t_uri['track_uri'].str.lstrip('spotify:track:')
t_uri=pd.DataFrame(t_uri)

# ARTIST NAME

In [11]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_name = track["track"]["artists"][0]["name"]
        result = artist_name
        tracks.append(result)

    return tracks


artist_name = get_tracks()

In [12]:
a_name=pd.DataFrame(artist_name).reset_index()
a_name=a_name.rename(columns={0:'artist_name'})
a_name['year']=2012

# TRACK NAME

In [13]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        result = track_name#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_name = get_tracks()

In [14]:
t_name=pd.DataFrame(track_name).reset_index()
t_name=t_name.rename(columns={0:'track_name'})

# AUDIO FEATURES

In [15]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        track_uri = track["track"]["uri"]
        result = sp.audio_features(track_uri)[0]
        tracks.append(result)
        #result=pd.concat([sp.audio_features, tracks], axis=0)
    return tracks


audio = get_tracks()

audio

In [16]:
audio_fea=pd.DataFrame(audio).reset_index()
audio_fea=audio_fea.drop(columns=['type','uri','track_href','analysis_url'])
audio_fea=audio_fea.rename(columns={'id':'track_uri'})

# GENRES

In [17]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)
        artist_genres = artist_info["genres"]
        result = artist_genres
        tracks.append(result)

    return tracks


track_genres = get_tracks()

In [18]:
genres=pd.DataFrame(track_genres)
genres=genres.rename(columns={0:'primary_genre',1:'sub_genre_1', 2:'sub_genre_2'})
genres= genres[['primary_genre','sub_genre_1','sub_genre_2']].reset_index()

In [19]:
final_df=a_name.merge(t_name, how='left', on='index')
final_df=final_df.merge(genres, how='left', on='index')
final_df=final_df.merge(audio_fea, how='left', on='index')
final_df.head(10)

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Gotye,2012,Somebody That I Used To Know,australian pop,None,None,0.865,0.521,0,...,1,0.0371,0.5480,0.000115,0.0989,0.748,129.059,1qDrWA6lyx8cLECdZE7TV7,244885,4
1,1,Carly Rae Jepsen,2012,Call Me Maybe,canadian pop,dance pop,electropop,0.783,0.580,7,...,1,0.0408,0.0114,0.000002,0.1080,0.660,120.021,20I6sIOMTCkB6w7ryavxtO,193400,4
2,2,fun.,2012,We Are Young (feat. Janelle Monáe),baroque pop,metropopolis,modern rock,0.378,0.638,10,...,1,0.0750,0.0200,0.000077,0.0849,0.735,184.086,5rgy6ghBq1eRApCkeUdJXf,250627,4
3,3,Maroon 5,2012,Payphone,pop,None,None,0.743,0.752,4,...,1,0.0414,0.0188,0.000000,0.2870,0.545,110.015,1XGmzt0PVuFgQYYnV2It7A,231173,4
4,4,Ellie Goulding,2012,Lights - Single Version,dance pop,edm,electropop,0.680,0.799,8,...,0,0.0347,0.0323,0.045900,0.1230,0.744,120.031,2QwG0flKv1wq9fyvfsMD9C,210634,4
5,5,The Wanted,2012,Glad You Came,boy band,dance pop,pop,0.562,0.857,7,...,0,0.0801,0.0383,0.000000,0.1100,0.539,126.883,6nHqns54LRqDNjeqKDF3v8,197936,4
6,6,Kelly Clarkson,2012,Stronger (What Doesn't Kill You),dance pop,neo mellow,pop,0.562,0.939,0,...,1,0.0475,0.0460,0.000000,0.1120,0.684,116.044,1nInOsHbtotAmEOQhtvnzP,221947,4
7,7,Rihanna,2012,We Found Love,barbadian pop,dance pop,pop,0.734,0.766,1,...,1,0.0383,0.0250,0.001380,0.1080,0.600,127.986,5uImkHXfTLkNYwemtGH7kB,215227,4
8,8,Nicki Minaj,2012,Starships,dance pop,hip pop,pop,0.747,0.716,11,...,0,0.0750,0.1350,0.000000,0.2510,0.751,125.008,2EBCVPNAG46nbgs6jXPGvv,210627,4
9,9,One Direction,2012,What Makes You Beautiful,boy band,pop,post-teen pop,0.726,0.787,4,...,1,0.0737,0.0090,0.000000,0.0596,0.888,124.990,4cluDES4hQEUhmXj6TXkSo,199987,4

# TIME SIGNATURE PERCENTAGES

In [20]:
time_sig=final_df[final_df['time_signature']==4]
percent_time_sig=time_sig['track_name'].count()/final_df['track_name'].count() *100
percent_time_sig

97.1830985915493

# GENRES

In [21]:
genres=final_df[['year','primary_genre','sub_genre_1','sub_genre_2']]
genres['genre_count'] =1
genres

C:\Users\vital\AppData\Local\Temp\ipykernel_36300\3890133482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genre_count'] =1

,year,primary_genre,sub_genre_1,sub_genre_2,genre_count
0,2012,australian pop,None,None,1
1,2012,canadian pop,dance pop,electropop,1
2,2012,baroque pop,metropopolis,modern rock,1
3,2012,pop,None,None,1
4,2012,dance pop,edm,electropop,1
...,...,...,...,...,...
66,2012,barbadian pop,dance pop,pop,1
67,2012,australian dance,australian pop,australian talent show,1
68,2012,modern rock,rock,None,1
69,2012,barbadian pop,dance pop,pop,1
70,2012,alternative metal,nu metal,post-grunge,1

In [22]:
primary_g=genres[['year','primary_genre', 'genre_count']]
primary_g=primary_g.groupby(['year','primary_genre'])['genre_count'].sum()
primary_g=pd.DataFrame(primary_g).reset_index().sort_values(['genre_count'], ascending=False)
primary_g=primary_g.reset_index()
primary_g=primary_g.drop(columns=['index'])
primary_g=primary_g.reset_index()
primary_g['pg_count']= primary_g['primary_genre'].count()

In [23]:
sub_g_1=genres[['year','sub_genre_1', 'genre_count']]
sub_g_1=sub_g_1.groupby(['year','sub_genre_1'])['genre_count'].sum()
sub_g_1=pd.DataFrame(sub_g_1).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_1=sub_g_1.reset_index()
sub_g_1=sub_g_1.drop(columns=['index'])
sub_g_1=sub_g_1.reset_index()
sub_g_1['s1_count']= sub_g_1['sub_genre_1'].count()

In [24]:
sub_g_2=genres[['year','sub_genre_2', 'genre_count']]
sub_g_2=sub_g_2.groupby(['year','sub_genre_2'])['genre_count'].sum()
sub_g_2=pd.DataFrame(sub_g_2).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_2=sub_g_2.reset_index()
sub_g_2=sub_g_2.drop(columns=['index'])
sub_g_2=sub_g_2.reset_index()
sub_g_2['s2_count']= sub_g_2['sub_genre_2'].count()

In [25]:
genre_df=primary_g.merge(sub_g_1, how='left', on='index')
genre_df=genre_df.merge(sub_g_2, how='left', on='index')
genre_df=genre_df.drop(columns=['year_y','year']).head(15)
genre_df=genre_df.rename(columns={'year_x':'year','genre_count_x':'p_gen_count','genre_count_y':'sg1_count','genre_count':'sg2_count'})
genre_df

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,2012,dance pop,33,21,pop,21.0,20.0,pop,19.0,16.0
1,1,2012,barbadian pop,5,21,dance pop,11.0,20.0,post-teen pop,7.0,16.0
2,2,2012,british soul,4,21,neo mellow,6.0,20.0,pop rap,5.0,16.0
3,3,2012,pop,3,21,edm,3.0,20.0,pop soul,4.0,16.0
4,4,2012,big room,3,21,electropop,3.0,20.0,edm,3.0,16.0
5,5,2012,canadian pop,3,21,miami hip hop,3.0,20.0,hip hop,3.0,16.0
6,6,2012,atl hip hop,2,21,metropopolis,2.0,20.0,electro house,2.0,16.0
7,7,2012,baroque pop,2,21,hip hop,2.0,20.0,electropop,2.0,16.0
8,8,2012,boy band,2,21,hip pop,2.0,20.0,miami hip hop,2.0,16.0
9,9,2012,modern alternative rock,2,21,latin,2.0,20.0,modern rock,2.0,16.0
10,10,2012,folk-pop,2,21,pop rap,2.0,20.0,pop rock,2.0,16.0
11,11,2012,g funk,1,21,nu metal,1.0,20.0,australian talent show,1.0,16.0
12,12,2012,permanent wave,1,21,rock,1.0,20.0,dance pop,1.0,16.0
13,13,2012,modern rock,1,21,pop rock,1.0,20.0,post-grunge,1.0,16.0
14,14,2012,indietronica,1,21,australian pop,1.0,20.0,r&b,1.0,16.0

# AUDIO FEATURES

# DANCEABILITY

In [26]:
top_10_dance_avg=final_df.head(10)
top_10_dance_avg=top_10_dance_avg['danceability'].sum()/top_10_dance_avg['danceability'].count()*100
num_1_dance=final_df['danceability']*100

dance_df=pd.DataFrame({'dance_avg':[final_df['danceability'].sum()/final_df['danceability'].count()*100],
                 'top10_dance_avg':[top_10_dance_avg],
                 'top_song_dance': [num_1_dance.iloc[0]]
                })
dance_df=dance_df.reset_index()
dance_df

   index  dance_avg  top10_dance_avg  top_song_dance
0      0  65.640845             67.8            86.5

# ENERGY

In [27]:
top_10_energy_avg=final_df.head(10)
top_10_energy_avg=top_10_energy_avg['energy'].sum()/top_10_energy_avg['energy'].count()*100
num_1_energy=final_df['energy']*100

energy_df=pd.DataFrame({'energy_avg':[final_df['energy'].sum()/final_df['energy'].count()*100],
                 'top10_energy_avg':[top_10_energy_avg],
                 'top_song_energy': [num_1_energy.iloc[0]]
                })
energy_df=energy_df.reset_index()
energy_df

   index  energy_avg  top10_energy_avg  top_song_energy
0      0   75.950704             73.55             52.1

# LIVENESS

In [28]:
top_10_live_avg=final_df.head(10)
top_10_live_avg=top_10_live_avg['liveness'].sum()/top_10_live_avg['liveness'].count()*100
num_1_live=final_df['liveness']*100

live_df=pd.DataFrame({'live_avg':[final_df['liveness'].sum()/final_df['liveness'].count()*100],
                 'top10_live_avg':[top_10_live_avg],
                 'top_song_live': [num_1_live.iloc[0]]
                })
live_df=live_df.reset_index()
live_df

   index   live_avg  top10_live_avg  top_song_live
0      0  18.321408          13.424           9.89

# DURATION

In [29]:
top_10_duration_avg=final_df.head(10)
top_10_duration_avg=(top_10_duration_avg['duration_ms'].sum()/top_10_duration_avg['duration_ms'].count())/(60*1000)
num_1_duration=(final_df['duration_ms'])/(60*1000)

duration_df=pd.DataFrame({'dur_avg':[(final_df['duration_ms'].sum()/final_df['duration_ms'].count())/(60*1000)],
                 'top10_dur_avg':[top_10_duration_avg],
                 'top_song_dur': [num_1_duration.iloc[0]]
                })
duration_df=duration_df.reset_index()
duration_df

   index   dur_avg  top10_dur_avg  top_song_dur
0      0  3.724666       3.627405      4.081417

# TEMPO

In [30]:
top_10_tempo_avg=final_df.head(10)
top_10_tempo_avg=(top_10_tempo_avg['tempo'].sum()/top_10_tempo_avg['tempo'].count())
num_1_tempo=(final_df['tempo'])

tempo_df=pd.DataFrame({'tempo_avg':[(final_df['tempo'].sum()/final_df['tempo'].count())],
                 'top10_tempo_avg':[top_10_tempo_avg],
                 'top_song_tempo': [num_1_tempo.iloc[0]]
                })
tempo_df=tempo_df.reset_index()
tempo_df

   index   tempo_avg  top10_tempo_avg  top_song_tempo
0      0  121.917056         128.4123         129.059

# VALENCE- Music Positiveness

In [31]:
top_10_valence_avg=final_df.head(10)
top_10_valence_avg=(top_10_valence_avg['valence'].sum()/top_10_valence_avg['valence'].count()*100)
num_1_valence=(final_df['valence'])*100

valence_df=pd.DataFrame({'valence_avg':[(final_df['valence'].sum()/final_df['valence'].count()*100)],
                 'top10_valence_avg':[top_10_valence_avg],
                 'top_song_valence': [num_1_valence.iloc[0]]
                })
valence_df=valence_df.reset_index()
valence_df

   index  valence_avg  top10_valence_avg  top_song_valence
0      0    58.161972              68.94              74.8

# ACOUSTICNESS

In [32]:
top_10_accoustic_avg=final_df.head(10)
top_10_accoustic_avg=(top_10_accoustic_avg['acousticness'].sum()/top_10_accoustic_avg['acousticness'].count()*100)
num_1_accoustic=(final_df['acousticness'])*100

accoustic_df=pd.DataFrame({'accoustic_avg':[(final_df['acousticness'].sum()/final_df['acousticness'].count()*100)],
                 'top10_accoustic_avg':[top_10_accoustic_avg],
                 'top_song_accoustic': [num_1_accoustic.iloc[0]]
                })
accoustic_df=accoustic_df.reset_index()
accoustic_df

   index  accoustic_avg  top10_accoustic_avg  top_song_accoustic
0      0      11.095124                8.838                54.8

# SPEECHINESS

In [33]:
top_10_speechiness_avg=final_df.head(10)
top_10_speechiness_avg=(top_10_speechiness_avg['speechiness'].sum()/top_10_speechiness_avg['speechiness'].count()*100)
num_1_speechiness=(final_df['speechiness'])*100

speechiness_df=pd.DataFrame({'speechiness_avg':[(final_df['speechiness'].sum()/final_df['speechiness'].count()*100)],
                 'top10_speechiness_avg':[top_10_accoustic_avg],
                 'top_song_speechiness': [num_1_accoustic.iloc[0]]
                })
speechiness_df=speechiness_df.reset_index()
speechiness_df

   index  speechiness_avg  top10_speechiness_avg  top_song_speechiness
0      0         6.908028                  8.838                  54.8

# KEY

In [34]:
key_trns=final_df[['track_name','key','mode']]
key_trns.dtypes

track_name    object
key            int64
mode           int64
dtype: object

In [35]:
for index, row in key_trns.iterrows():
    key= int(row['key'])
    if key == 0 : 
        key_trns.loc[index,'key_a']= 'C'
    elif key ==1 : 
        key_trns.loc[index,'key_a']= 'C#'
    elif key ==2 : 
        key_trns.loc[index,'key_a']= 'D'
    elif key ==3 : 
        key_trns.loc[index,'key_a']= 'D#'
    elif key ==4 : 
        key_trns.loc[index,'key_a']= 'E'
    elif key ==5 : 
        key_trns.loc[index,'key_a']= 'F'
    elif key ==6 : 
        key_trns.loc[index,'key_a']= 'F#'
    elif key ==7 : 
        key_trns.loc[index,'key_a']= 'G'
    elif key ==8 : 
        key_trns.loc[index,'key_a']= 'G#'
    elif key ==9 : 
        key_trns.loc[index,'key_a']= 'A'
    elif key ==10 : 
        key_trns.loc[index,'key_a']= 'A#'
    elif key ==11 : 
        key_trns.loc[index,'key_a']= 'B'
    else:
        key_trns.loc[index,'key_a']= 'ERROR'        

for index, row in key_trns.iterrows():
    mode= int(row['mode'])
    if mode == 1 : 
        key_trns.loc[index,'M_m']= 'Major'
    elif mode ==0 : 
        key_trns.loc[index,'M_m']= 'minor'
    else:
        key_trns.loc[index,'M_m']= 'ERROR'

C:\Users\vital\AppData\Local\Temp\ipykernel_36300\1186037428.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'key_a']= 'C'
C:\Users\vital\AppData\Local\Temp\ipykernel_36300\1186037428.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'M_m']= 'Major'

In [36]:
key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']
key_trns_f=key_trns.drop(columns=['key', 'mode','key_a','M_m'])
key_trns_f['count']=1
key_trns_f.head()

C:\Users\vital\AppData\Local\Temp\ipykernel_36300\2755823312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']

                           track_name alph_key  count
0        Somebody That I Used To Know   CMajor      1
1                       Call Me Maybe   GMajor      1
2  We Are Young (feat. Janelle Monáe)  A#Major      1
3                            Payphone   EMajor      1
4             Lights - Single Version  G#minor      1

In [37]:
pop_keys=key_trns_f.groupby(['alph_key'])['count'].count()
pop_keys= pd.DataFrame(pop_keys).reset_index().sort_values('count',ascending =False)
pop_keys= pop_keys.reset_index()
pop_keys= pop_keys.drop(columns=['index'])
pop_keys

   alph_key  count
0    CMajor      9
1   C#minor      7
2    GMajor      6
3    Cminor      5
4    Gminor      4
5    Bminor      4
6    Fminor      4
7    FMajor      4
8    EMajor      3
9   G#Major      3
10  A#Major      3
11  C#Major      3
12   AMajor      3
13   DMajor      3
14  F#Major      2
15  D#Major      2
16   Aminor      2
17   Dminor      1
18  A#minor      1
19   Eminor      1
20  G#minor      1

# FINAL SETS

# ENERGY-DANCE_TEMPO

In [38]:
energy_2012_df=dance_df.merge(tempo_df, how='left', on='index')
energy_2012_df=energy_2012_df.merge(energy_df, how='left', on='index')
energy_2012_df['year']=2012
energy_2012_df

,index,dance_avg,top10_dance_avg,top_song_dance,tempo_avg,top10_tempo_avg,top_song_tempo,energy_avg,top10_energy_avg,top_song_energy,year
0,0,65.640845,67.8,86.5,121.917056,128.4123,129.059,75.950704,73.55,52.1,2012

# VALENCE- ACCOUSTINESS- SPEECHINESS

In [39]:
tone2012_df=valence_df.merge(accoustic_df, how='left', on='index')
tone2012_df=tone2012_df.merge(speechiness_df, how='left', on='index')
tone2012_df['year']=2012
tone2012_df

,index,valence_avg,top10_valence_avg,top_song_valence,accoustic_avg,top10_accoustic_avg,top_song_accoustic,speechiness_avg,top10_speechiness_avg,top_song_speechiness,year
0,0,58.161972,68.94,74.8,11.095124,8.838,54.8,6.908028,8.838,54.8,2012

# LIVENESS- DURATION

In [40]:
duration_2012_df=duration_df.merge(live_df, how='left', on='index')
duration_2012_df['year']=2012
duration_2012_df

,index,dur_avg,top10_dur_avg,top_song_dur,live_avg,top10_live_avg,top_song_live,year
0,0,3.724666,3.627405,4.081417,18.321408,13.424,9.89,2012

# MOST POPULAR KEYS

In [41]:
pop_keys['year']=2012
pop_key_2012= pop_keys.reset_index()
pop_key_2012

    index alph_key  count  year
0       0   CMajor      9  2012
1       1  C#minor      7  2012
2       2   GMajor      6  2012
3       3   Cminor      5  2012
4       4   Gminor      4  2012
5       5   Bminor      4  2012
6       6   Fminor      4  2012
7       7   FMajor      4  2012
8       8   EMajor      3  2012
9       9  G#Major      3  2012
10     10  A#Major      3  2012
11     11  C#Major      3  2012
12     12   AMajor      3  2012
13     13   DMajor      3  2012
14     14  F#Major      2  2012
15     15  D#Major      2  2012
16     16   Aminor      2  2012
17     17   Dminor      1  2012
18     18  A#minor      1  2012
19     19   Eminor      1  2012
20     20  G#minor      1  2012

# MOST POPULAR GENRES

In [42]:
genre_df_2012=genre_df
genre_df_2012

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,2012,dance pop,33,21,pop,21.0,20.0,pop,19.0,16.0
1,1,2012,barbadian pop,5,21,dance pop,11.0,20.0,post-teen pop,7.0,16.0
2,2,2012,british soul,4,21,neo mellow,6.0,20.0,pop rap,5.0,16.0
3,3,2012,pop,3,21,edm,3.0,20.0,pop soul,4.0,16.0
4,4,2012,big room,3,21,electropop,3.0,20.0,edm,3.0,16.0
5,5,2012,canadian pop,3,21,miami hip hop,3.0,20.0,hip hop,3.0,16.0
6,6,2012,atl hip hop,2,21,metropopolis,2.0,20.0,electro house,2.0,16.0
7,7,2012,baroque pop,2,21,hip hop,2.0,20.0,electropop,2.0,16.0
8,8,2012,boy band,2,21,hip pop,2.0,20.0,miami hip hop,2.0,16.0
9,9,2012,modern alternative rock,2,21,latin,2.0,20.0,modern rock,2.0,16.0
10,10,2012,folk-pop,2,21,pop rap,2.0,20.0,pop rock,2.0,16.0
11,11,2012,g funk,1,21,nu metal,1.0,20.0,australian talent show,1.0,16.0
12,12,2012,permanent wave,1,21,rock,1.0,20.0,dance pop,1.0,16.0
13,13,2012,modern rock,1,21,pop rock,1.0,20.0,post-grunge,1.0,16.0
14,14,2012,indietronica,1,21,australian pop,1.0,20.0,r&b,1.0,16.0

# TIME SIGNATURE PERCENTAGES

In [43]:
percent_time_sig_2012=percent_time_sig
percent_time_sig_2012

97.1830985915493

# FINAL FULL DATAFRAME

In [44]:
final_2012_df=final_df
final_2012_df

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Gotye,2012,Somebody That I Used To Know,australian pop,None,None,0.865,0.521,0,...,1,0.0371,0.54800,0.000115,0.0989,0.748,129.059,1qDrWA6lyx8cLECdZE7TV7,244885,4
1,1,Carly Rae Jepsen,2012,Call Me Maybe,canadian pop,dance pop,electropop,0.783,0.580,7,...,1,0.0408,0.01140,0.000002,0.1080,0.660,120.021,20I6sIOMTCkB6w7ryavxtO,193400,4
2,2,fun.,2012,We Are Young (feat. Janelle Monáe),baroque pop,metropopolis,modern rock,0.378,0.638,10,...,1,0.0750,0.02000,0.000077,0.0849,0.735,184.086,5rgy6ghBq1eRApCkeUdJXf,250627,4
3,3,Maroon 5,2012,Payphone,pop,None,None,0.743,0.752,4,...,1,0.0414,0.01880,0.000000,0.2870,0.545,110.015,1XGmzt0PVuFgQYYnV2It7A,231173,4
4,4,Ellie Goulding,2012,Lights - Single Version,dance pop,edm,electropop,0.680,0.799,8,...,0,0.0347,0.03230,0.045900,0.1230,0.744,120.031,2QwG0flKv1wq9fyvfsMD9C,210634,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,66,Rihanna,2012,You Da One,barbadian pop,dance pop,pop,0.702,0.715,5,...,0,0.0425,0.50300,0.000024,0.1260,0.863,127.050,5DBfBBTNQH20XbNqp2XZJE,200013,4
67,67,Havana Brown,2012,We Run The Night,australian dance,australian pop,australian talent show,0.717,0.836,9,...,0,0.0395,0.08040,0.000495,0.0856,0.612,126.998,1HNqRyGSw1uIRu6VNPqQwF,216218,4
68,68,Imagine Dragons,2012,It's Time,modern rock,rock,None,0.657,0.885,2,...,1,0.0344,0.01680,0.000000,0.1470,0.869,105.011,3xqF04FdMK7gpIPG3SPFpY,237987,4
69,69,Rihanna,2012,Diamonds,barbadian pop,dance pop,pop,0.564,0.710,11,...,0,0.0461,0.00125,0.000000,0.1090,0.393,91.972,6O20JhBJPePEkBdrB5sqRx,225147,4
70,70,Linkin Park,2012,BURN IT DOWN,alternative metal,nu metal,post-grunge,0.585,0.972,9,...,0,0.0534,0.01430,0.000000,0.0707,0.585,110.006,7oVEtyuv9NBmnytsCIsY5I,230253,4