# PERMISSIONS AUTHORIZATION

In [1]:
import requests
import pandas as pd
from pandas import DataFrame
import numpy as np
from itertools import chain
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
CLIENT_ID = 'c7d16c8600ab433ea5aede2202285c1e'
CLIENT_SECRET = '69b7f20b150845a1ae6427a66f14d780'

In [3]:
AUTH_URL = 'https://accounts.spotify.com/api/token'

# POST
auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': CLIENT_ID,
    'client_secret': CLIENT_SECRET,
})

# convert the response to JSON
auth_response_data = auth_response.json()

# save the access token
access_token = auth_response_data['access_token']

In [4]:
#needs to be updated every hour
headers = {
    'Authorization': 'Bearer BQC7gMsDxQkgOzIuvAf9aw1_D0aaaZttROrrULC89ROpMh8n0D2IGjmyCvylT6DC_k1Odwtn7EkwY1ADD-vbY5_Ebfb884gmajK1z5xl_gvILioBI9MWkm-MWx58cCpROsM_WKnF2_Vjly6bKrh_-HEbX6lNaO4UZnPZFs0fa-2b_Q3F0BGGbnzJVL0ah1Y-nJU'.format(token=access_token)
}

# PULLING IN BILLBOARD 2022

In [5]:
import spotipy
sp = spotipy.Spotify()
from spotipy.oauth2 import SpotifyClientCredentials

In [6]:
#Authentication - without user
client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [7]:
playlist_link = "https://open.spotify.com/embed/playlist/6UeSakyzhiEt4NB3UAd6NQ?utm_source=generator"
playlist_URI = playlist_link.split("/")[-1].split("?")[0]
track_uris = [x["track"]["uri"] for x in sp.playlist_tracks(playlist_URI)["items"]]

In [8]:
    for track in sp.playlist_tracks(playlist_URI)["items"]:
        #URI
        track_uri = track["track"]["uri"]

        #Track name
        track_name = track["track"]["name"]

        #Main Artist
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)

        #Name, popularity, genre
        artist_name = track["track"]["artists"][0]["name"]
        
        #artist_pop = artist_info["popularity"]
        artist_genres = artist_info["genres"]

        #Album
        album = track["track"]["album"]["name"]

        #Popularity of the track
        track_pop = track["track"]["popularity"]
        
        #Track Name
        track_name = track["track"]["name"]
        
        #Track URI
        track_uri = track["track"]["uri"]

# TRACK URI

In [9]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_uri = track["track"]["uri"]
        track_name = track["track"]["name"]
        result = track_uri#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_u = get_tracks()

In [10]:
t_uri=pd.DataFrame(track_u)
t_uri=t_uri.rename(columns={0:'track_uri'})
t_uri=t_uri['track_uri'].str.lstrip('spotify:track:')
t_uri=pd.DataFrame(t_uri)

# ARTIST NAME

In [11]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_name = track["track"]["artists"][0]["name"]
        result = artist_name
        tracks.append(result)

    return tracks


artist_name = get_tracks()

In [12]:
a_name=pd.DataFrame(artist_name).reset_index()
a_name=a_name.rename(columns={0:'artist_name'})
a_name['year']=2022

# TRACK NAME

In [13]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        result = track_name#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_name = get_tracks()

In [14]:
t_name=pd.DataFrame(track_name).reset_index()
t_name=t_name.rename(columns={0:'track_name'})

# AUDIO FEATURES

In [15]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        track_uri = track["track"]["uri"]
        result = sp.audio_features(track_uri)[0]
        tracks.append(result)
        #result=pd.concat([sp.audio_features, tracks], axis=0)
    return tracks


audio = get_tracks()

audio

In [16]:
audio_fea=pd.DataFrame(audio).reset_index()
audio_fea=audio_fea.drop(columns=['type','uri','track_href','analysis_url'])
audio_fea=audio_fea.rename(columns={'id':'track_uri'})

# GENRES

In [17]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)
        artist_genres = artist_info["genres"]
        result = artist_genres
        tracks.append(result)

    return tracks


track_genres = get_tracks()

In [18]:
genres=pd.DataFrame(track_genres)
genres=genres.rename(columns={0:'primary_genre',1:'sub_genre_1', 2:'sub_genre_2'})
genres= genres[['primary_genre','sub_genre_1','sub_genre_2']].reset_index()

In [19]:
final_df=a_name.merge(t_name, how='left', on='index')
final_df=final_df.merge(genres, how='left', on='index')
final_df=final_df.merge(audio_fea, how='left', on='index')
final_df.head(10)

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Beyoncé,2022,BREAK MY SOUL,dance pop,pop,r&b,0.687,0.887,1,...,0,0.0826,0.0575,0.000002,0.2700,0.853,114.941,2KukL7UlQ8TdvpaA7bY3ZJ,278282,4
1,1,Lizzo,2022,About Damn Time,dance pop,escape room,minnesota hip hop,0.836,0.743,10,...,0,0.0656,0.0995,0.000000,0.3350,0.722,108.966,1PckUlxKqWQs3RlWXVBLw3,191822,4
2,2,Harry Styles,2022,As It Was,pop,None,None,0.520,0.731,6,...,0,0.0557,0.3420,0.001010,0.3110,0.662,173.930,4LRPiXqCikLlN15c3yImP7,167303,4
3,3,Kate Bush,2022,Running Up That Hill (A Deal With God) - 2018 ...,art pop,art rock,baroque pop,0.625,0.533,10,...,0,0.0596,0.6590,0.002660,0.0546,0.139,108.296,29d0nY7TzCoi22XBqDQkiP,300840,4
4,4,Future,2022,WAIT FOR U (feat. Drake & Tems),atl hip hop,rap,southern hip hop,0.463,0.642,1,...,1,0.3400,0.3140,0.000000,0.0686,0.339,83.389,59nOXPmaKlBfGMDeOVGrIK,189893,4
5,5,Jack Harlow,2022,First Class,deep underground hip hop,kentucky hip hop,rap,0.905,0.563,8,...,1,0.1020,0.0254,0.000010,0.1130,0.324,106.998,1rDQ4oMwGJI7B4tovsBOxc,173948,4
6,6,Steve Lacy,2022,Bad Habit,afrofuturism,None,None,0.686,0.507,1,...,1,0.0357,0.6260,0.000075,0.3830,0.690,168.955,5CM4UuQ9Gnd6K2YyKGPMoK,232115,4
7,7,Bad Bunny,2022,Me Porto Bonito,latin,reggaeton,trap latino,0.911,0.712,1,...,0,0.0817,0.0901,0.000027,0.0933,0.425,92.005,6Sq7ltF9Qa7SNFBsV5Cogx,178567,4
8,8,Nicky Youre,2022,Sunroof,None,None,None,0.768,0.714,10,...,1,0.0401,0.3520,0.000000,0.1500,0.842,131.443,4h4QlmocP3IuwYEj2j14p8,163026,4
9,9,Harry Styles,2022,Late Night Talking,pop,None,None,0.714,0.728,10,...,1,0.0468,0.2980,0.000000,0.1060,0.901,114.996,1qEmFfgcLObUfQm0j1W2CK,177955,4

# TIME SIGNATURE PERCENTAGES

In [20]:
time_sig=final_df[final_df['time_signature']==4]
percent_time_sig=time_sig['track_name'].count()/final_df['track_name'].count() *100
percent_time_sig

91.0

# GENRES

In [21]:
genres=final_df[['year','primary_genre','sub_genre_1','sub_genre_2']]
genres['genre_count'] =1
genres

C:\Users\vital\AppData\Local\Temp\ipykernel_20772\3890133482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genre_count'] =1

,year,primary_genre,sub_genre_1,sub_genre_2,genre_count
0,2022,dance pop,pop,r&b,1
1,2022,dance pop,escape room,minnesota hip hop,1
2,2022,pop,None,None,1
3,2022,art pop,art rock,baroque pop,1
4,2022,atl hip hop,rap,southern hip hop,1
...,...,...,...,...,...
95,2022,gen z singer-songwriter,None,None,1
96,2022,latin,reggaeton,trap latino,1
97,2022,contemporary country,country,country road,1
98,2022,latin,reggaeton,trap latino,1
99,2022,argentine hip hop,pop venezolano,trap argentino,1

In [22]:
primary_g=genres[['year','primary_genre', 'genre_count']]
primary_g=primary_g.groupby(['year','primary_genre'])['genre_count'].sum()
primary_g=pd.DataFrame(primary_g).reset_index().sort_values(['genre_count'], ascending=False)
primary_g=primary_g.reset_index()
primary_g=primary_g.drop(columns=['index'])
primary_g=primary_g.reset_index()
primary_g['pg_count']= primary_g['primary_genre'].count()

In [23]:
sub_g_1=genres[['year','sub_genre_1', 'genre_count']]
sub_g_1=sub_g_1.groupby(['year','sub_genre_1'])['genre_count'].sum()
sub_g_1=pd.DataFrame(sub_g_1).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_1=sub_g_1.reset_index()
sub_g_1=sub_g_1.drop(columns=['index'])
sub_g_1=sub_g_1.reset_index()
sub_g_1['s1_count']= sub_g_1['sub_genre_1'].count()

In [24]:
sub_g_2=genres[['year','sub_genre_2', 'genre_count']]
sub_g_2=sub_g_2.groupby(['year','sub_genre_2'])['genre_count'].sum()
sub_g_2=pd.DataFrame(sub_g_2).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_2=sub_g_2.reset_index()
sub_g_2=sub_g_2.drop(columns=['index'])
sub_g_2=sub_g_2.reset_index()
sub_g_2['s2_count']= sub_g_2['sub_genre_2'].count()

In [25]:
genre_df=primary_g.merge(sub_g_1, how='left', on='index')
genre_df=genre_df.merge(sub_g_2, how='left', on='index')
genre_df=genre_df.drop(columns=['year_y','year']).head(15)
genre_df=genre_df.rename(columns={'year_x':'year','genre_count_x':'p_gen_count','genre_count_y':'sg1_count','genre_count':'sg2_count'})
genre_df

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,2022,dance pop,24,30,pop,22.0,29.0,r&b,16.0,25.0
1,1,2022,contemporary country,21,30,reggaeton,11.0,29.0,trap latino,10.0,25.0
2,2,2022,latin,11,30,country,11.0,29.0,country road,9.0,25.0
3,3,2022,pop,5,30,rap,3.0,29.0,rap,4.0,25.0
4,4,2022,canadian hip hop,4,30,canadian pop,3.0,29.0,hip hop,4.0,25.0
5,5,2022,atl hip hop,4,30,uk pop,2.0,29.0,pop,2.0,25.0
6,6,2022,australian hip hop,2,30,hip hop,2.0,29.0,melodic rap,2.0,25.0
7,7,2022,dfw rap,2,30,gen z singer-songwriter,2.0,29.0,southern hip hop,2.0,25.0
8,8,2022,florida rap,2,30,country pop,2.0,29.0,country,2.0,25.0
9,9,2022,alt z,2,30,contemporary country,2.0,29.0,uk pop,1.0,25.0
10,10,2022,memphis hip hop,1,30,melodic rap,2.0,29.0,trap argentino,1.0,25.0
11,11,2022,minnesota hip hop,1,30,mellow gold,1.0,29.0,trap,1.0,25.0
12,12,2022,glam rock,1,30,pop venezolano,1.0,29.0,tennessee hip hop,1.0,25.0
13,13,2022,modern rock,1,30,piano rock,1.0,29.0,shiver pop,1.0,25.0
14,14,2022,gen z singer-songwriter,1,30,rock,1.0,29.0,reggaeton colombiano,1.0,25.0

# AUDIO FEATURES

# DANCEABILITY

In [26]:
top_10_dance_avg=final_df.head(10)
top_10_dance_avg=top_10_dance_avg['danceability'].sum()/top_10_dance_avg['danceability'].count()*100
num_1_dance=final_df['danceability']*100

dance_df=pd.DataFrame({'dance_avg':[final_df['danceability'].sum()/final_df['danceability'].count()*100],
                 'top10_dance_avg':[top_10_dance_avg],
                 'top_song_dance': [num_1_dance.iloc[0]]
                })
dance_df=dance_df.reset_index()
dance_df

   index  dance_avg  top10_dance_avg  top_song_dance
0      0     67.748            71.15            68.7

# ENERGY

In [27]:
top_10_energy_avg=final_df.head(10)
top_10_energy_avg=top_10_energy_avg['energy'].sum()/top_10_energy_avg['energy'].count()*100
num_1_energy=final_df['energy']*100

energy_df=pd.DataFrame({'energy_avg':[final_df['energy'].sum()/final_df['energy'].count()*100],
                 'top10_energy_avg':[top_10_energy_avg],
                 'top_song_energy': [num_1_energy.iloc[0]]
                })
energy_df=energy_df.reset_index()
energy_df

   index  energy_avg  top10_energy_avg  top_song_energy
0      0      65.522              67.6             88.7

# LIVENESS

In [28]:
top_10_live_avg=final_df.head(10)
top_10_live_avg=top_10_live_avg['liveness'].sum()/top_10_live_avg['liveness'].count()*100
num_1_live=final_df['liveness']*100

live_df=pd.DataFrame({'live_avg':[final_df['liveness'].sum()/final_df['liveness'].count()*100],
                 'top10_live_avg':[top_10_live_avg],
                 'top_song_live': [num_1_live.iloc[0]]
                })
live_df=live_df.reset_index()
live_df

   index  live_avg  top10_live_avg  top_song_live
0      0   18.4319          18.845           27.0

# DURATION

In [29]:
top_10_duration_avg=final_df.head(10)
top_10_duration_avg=(top_10_duration_avg['duration_ms'].sum()/top_10_duration_avg['duration_ms'].count())/(60*1000)
num_1_duration=(final_df['duration_ms'])/(60*1000)

duration_df=pd.DataFrame({'dur_avg':[(final_df['duration_ms'].sum()/final_df['duration_ms'].count())/(60*1000)],
                 'top10_dur_avg':[top_10_duration_avg],
                 'top_song_dur': [num_1_duration.iloc[0]]
                })
duration_df=duration_df.reset_index()
duration_df

   index   dur_avg  top10_dur_avg  top_song_dur
0      0  3.346545       3.422918      4.638033

# TEMPO

In [30]:
top_10_tempo_avg=final_df.head(10)
top_10_tempo_avg=(top_10_tempo_avg['tempo'].sum()/top_10_tempo_avg['tempo'].count())
num_1_tempo=(final_df['tempo'])

tempo_df=pd.DataFrame({'tempo_avg':[(final_df['tempo'].sum()/final_df['tempo'].count())],
                 'top10_tempo_avg':[top_10_tempo_avg],
                 'top_song_tempo': [num_1_tempo.iloc[0]]
                })
tempo_df=tempo_df.reset_index()
tempo_df

   index  tempo_avg  top10_tempo_avg  top_song_tempo
0      0  121.12079         120.3919         114.941

# VALENCE- Music Positiveness

In [31]:
top_10_valence_avg=final_df.head(10)
top_10_valence_avg=(top_10_valence_avg['valence'].sum()/top_10_valence_avg['valence'].count()*100)
num_1_valence=(final_df['valence'])*100

valence_df=pd.DataFrame({'valence_avg':[(final_df['valence'].sum()/final_df['valence'].count()*100)],
                 'top10_valence_avg':[top_10_valence_avg],
                 'top_song_valence': [num_1_valence.iloc[0]]
                })
valence_df=valence_df.reset_index()
valence_df

   index  valence_avg  top10_valence_avg  top_song_valence
0      0      47.1186              58.97              85.3

# ACOUSTICNESS

In [32]:
top_10_accoustic_avg=final_df.head(10)
top_10_accoustic_avg=(top_10_accoustic_avg['acousticness'].sum()/top_10_accoustic_avg['acousticness'].count()*100)
num_1_accoustic=(final_df['acousticness'])*100

accoustic_df=pd.DataFrame({'accoustic_avg':[(final_df['acousticness'].sum()/final_df['acousticness'].count()*100)],
                 'top10_accoustic_avg':[top_10_accoustic_avg],
                 'top_song_accoustic': [num_1_accoustic.iloc[0]]
                })
accoustic_df=accoustic_df.reset_index()
accoustic_df

   index  accoustic_avg  top10_accoustic_avg  top_song_accoustic
0      0      17.228367               28.635                5.75

# SPEECHINESS

In [33]:
top_10_speechiness_avg=final_df.head(10)
top_10_speechiness_avg=(top_10_speechiness_avg['speechiness'].sum()/top_10_speechiness_avg['speechiness'].count()*100)
num_1_speechiness=(final_df['speechiness'])*100

speechiness_df=pd.DataFrame({'speechiness_avg':[(final_df['speechiness'].sum()/final_df['speechiness'].count()*100)],
                 'top10_speechiness_avg':[top_10_accoustic_avg],
                 'top_song_speechiness': [num_1_accoustic.iloc[0]]
                })
speechiness_df=speechiness_df.reset_index()
speechiness_df

   index  speechiness_avg  top10_speechiness_avg  top_song_speechiness
0      0          10.5314                 28.635                  5.75

# KEY

In [34]:
key_trns=final_df[['track_name','key','mode']]
key_trns.dtypes

track_name    object
key            int64
mode           int64
dtype: object

In [35]:
for index, row in key_trns.iterrows():
    key= int(row['key'])
    if key == 0 : 
        key_trns.loc[index,'key_a']= 'C'
    elif key ==1 : 
        key_trns.loc[index,'key_a']= 'C#'
    elif key ==2 : 
        key_trns.loc[index,'key_a']= 'D'
    elif key ==3 : 
        key_trns.loc[index,'key_a']= 'D#'
    elif key ==4 : 
        key_trns.loc[index,'key_a']= 'E'
    elif key ==5 : 
        key_trns.loc[index,'key_a']= 'F'
    elif key ==6 : 
        key_trns.loc[index,'key_a']= 'F#'
    elif key ==7 : 
        key_trns.loc[index,'key_a']= 'G'
    elif key ==8 : 
        key_trns.loc[index,'key_a']= 'G#'
    elif key ==9 : 
        key_trns.loc[index,'key_a']= 'A'
    elif key ==10 : 
        key_trns.loc[index,'key_a']= 'A#'
    elif key ==11 : 
        key_trns.loc[index,'key_a']= 'B'
    else:
        key_trns.loc[index,'key_a']= 'ERROR'        

for index, row in key_trns.iterrows():
    mode= int(row['mode'])
    if mode == 1 : 
        key_trns.loc[index,'M_m']= 'Major'
    elif mode ==0 : 
        key_trns.loc[index,'M_m']= 'minor'
    else:
        key_trns.loc[index,'M_m']= 'ERROR'

C:\Users\vital\AppData\Local\Temp\ipykernel_20772\1186037428.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'key_a']= 'C#'
C:\Users\vital\AppData\Local\Temp\ipykernel_20772\1186037428.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'M_m']= 'minor'

In [36]:
key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']
key_trns_f=key_trns.drop(columns=['key', 'mode','key_a','M_m'])
key_trns_f['count']=1
key_trns_f.head()

C:\Users\vital\AppData\Local\Temp\ipykernel_20772\2755823312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']

                                          track_name alph_key  count
0                                      BREAK MY SOUL  C#minor      1
1                                    About Damn Time  A#minor      1
2                                          As It Was  F#minor      1
3  Running Up That Hill (A Deal With God) - 2018 ...  A#minor      1
4                    WAIT FOR U (feat. Drake & Tems)  C#Major      1

In [58]:
pop_keys=key_trns_f.groupby(['alph_key'])['count'].count()
pop_keys= pd.DataFrame(pop_keys).sort_values('count',ascending =False)
pop_keys= pop_keys.reset_index()
pop_key_2022= pop_keys.reset_index()
pop_key_2022['year']=2022
pop_key_2022

    index alph_key  count  year
0       0  C#Major     18  2022
1       1   DMajor      8  2022
2       2   GMajor      8  2022
3       3  G#Major      6  2022
4       4  A#Major      6  2022
5       5   AMajor      6  2022
6       6   Bminor      5  2022
7       7  F#Major      5  2022
8       8   Fminor      5  2022
9       9   FMajor      4  2022
10     10   Eminor      4  2022
11     11   CMajor      4  2022
12     12  A#minor      3  2022
13     13  D#minor      3  2022
14     14   BMajor      3  2022
15     15  G#minor      3  2022
16     16   EMajor      2  2022
17     17  C#minor      2  2022
18     18   Cminor      2  2022
19     19  F#minor      1  2022
20     20  D#Major      1  2022
21     21   Gminor      1  2022

In [59]:
pop_key_2022.to_csv('../data/pop_key_2022')

# FINAL SETS

# ENERGY-DANCE_TEMPO

In [38]:
energy_2022_df=dance_df.merge(tempo_df, how='left', on='index')
energy_2022_df=energy_2022_df.merge(energy_df, how='left', on='index')
energy_2022_df['year']=2022
energy_2022_df

,index,dance_avg,top10_dance_avg,top_song_dance,tempo_avg,top10_tempo_avg,top_song_tempo,energy_avg,top10_energy_avg,top_song_energy,year
0,0,67.748,71.15,68.7,121.12079,120.3919,114.941,65.522,67.6,88.7,2022

In [62]:
energy_2022_df.to_csv('../data/energy_2022_df')

# VALENCE- ACCOUSTINESS- SPEECHINESS

In [39]:
tone2022_df=valence_df.merge(accoustic_df, how='left', on='index')
tone2022_df=tone2022_df.merge(speechiness_df, how='left', on='index')
tone2022_df['year']=2022
tone2022_df

,index,valence_avg,top10_valence_avg,top_song_valence,accoustic_avg,top10_accoustic_avg,top_song_accoustic,speechiness_avg,top10_speechiness_avg,top_song_speechiness,year
0,0,47.1186,58.97,85.3,17.228367,28.635,5.75,10.5314,28.635,5.75,2022

In [61]:
tone2022_df.to_csv('../data/tone2022_df')

# LIVENESS- DURATION

In [40]:
duration_2022_df=duration_df.merge(live_df, how='left', on='index')
duration_2022_df['year']=2022
duration_2022_df

,index,dur_avg,top10_dur_avg,top_song_dur,live_avg,top10_live_avg,top_song_live,year
0,0,3.346545,3.422918,4.638033,18.4319,18.845,27.0,2022

In [60]:
duration_2022_df.to_csv('../data/duration_2022_df')

# MOST POPULAR KEYS

In [41]:
pop_keys['year']=2022
pop_key_2022= pop_keys.reset_index()
pop_key_2022

    index alph_key  count  year
0       0  C#Major     18  2022
1       1   DMajor      8  2022
2       2   GMajor      8  2022
3       3  G#Major      6  2022
4       4  A#Major      6  2022
5       5   AMajor      6  2022
6       6   Bminor      5  2022
7       7  F#Major      5  2022
8       8   Fminor      5  2022
9       9   FMajor      4  2022
10     10   Eminor      4  2022
11     11   CMajor      4  2022
12     12  A#minor      3  2022
13     13  D#minor      3  2022
14     14   BMajor      3  2022
15     15  G#minor      3  2022
16     16   EMajor      2  2022
17     17  C#minor      2  2022
18     18   Cminor      2  2022
19     19  F#minor      1  2022
20     20  D#Major      1  2022
21     21   Gminor      1  2022

# MOST POPULAR GENRES

In [51]:
genre_df_2022=genre_df
genre_df_2022

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,2022,dance pop,24,30,pop,22.0,29.0,r&b,16.0,25.0
1,1,2022,contemporary country,21,30,reggaeton,11.0,29.0,trap latino,10.0,25.0
2,2,2022,latin,11,30,country,11.0,29.0,country road,9.0,25.0
3,3,2022,pop,5,30,rap,3.0,29.0,rap,4.0,25.0
4,4,2022,canadian hip hop,4,30,canadian pop,3.0,29.0,hip hop,4.0,25.0
5,5,2022,atl hip hop,4,30,uk pop,2.0,29.0,pop,2.0,25.0
6,6,2022,australian hip hop,2,30,hip hop,2.0,29.0,melodic rap,2.0,25.0
7,7,2022,dfw rap,2,30,gen z singer-songwriter,2.0,29.0,southern hip hop,2.0,25.0
8,8,2022,florida rap,2,30,country pop,2.0,29.0,country,2.0,25.0
9,9,2022,alt z,2,30,contemporary country,2.0,29.0,uk pop,1.0,25.0
10,10,2022,memphis hip hop,1,30,melodic rap,2.0,29.0,trap argentino,1.0,25.0
11,11,2022,minnesota hip hop,1,30,mellow gold,1.0,29.0,trap,1.0,25.0
12,12,2022,glam rock,1,30,pop venezolano,1.0,29.0,tennessee hip hop,1.0,25.0
13,13,2022,modern rock,1,30,piano rock,1.0,29.0,shiver pop,1.0,25.0
14,14,2022,gen z singer-songwriter,1,30,rock,1.0,29.0,reggaeton colombiano,1.0,25.0

In [52]:
genre_df_2022.to_csv('../data/genre_df_2022')

# TIME SIGNATURE PERCENTAGES

In [48]:
percent_time_sig_2022=percent_time_sig
percent_time_sig_2022=pd.DataFrame({'time_sig_22':[percent_time_sig_2022]}).reset_index()
percent_time_sig_2022

   index  time_sig_22
0      0         91.0

In [49]:
percent_time_sig_2022.to_csv('../data/percent_time_sig_2022')

# FINAL FULL DATAFRAME

In [44]:
final_2022_df=final_df
final_2022_df

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Beyoncé,2022,BREAK MY SOUL,dance pop,pop,r&b,0.687,0.887,1,...,0,0.0826,0.0575,0.000002,0.2700,0.853,114.941,2KukL7UlQ8TdvpaA7bY3ZJ,278282,4
1,1,Lizzo,2022,About Damn Time,dance pop,escape room,minnesota hip hop,0.836,0.743,10,...,0,0.0656,0.0995,0.000000,0.3350,0.722,108.966,1PckUlxKqWQs3RlWXVBLw3,191822,4
2,2,Harry Styles,2022,As It Was,pop,None,None,0.520,0.731,6,...,0,0.0557,0.3420,0.001010,0.3110,0.662,173.930,4LRPiXqCikLlN15c3yImP7,167303,4
3,3,Kate Bush,2022,Running Up That Hill (A Deal With God) - 2018 ...,art pop,art rock,baroque pop,0.625,0.533,10,...,0,0.0596,0.6590,0.002660,0.0546,0.139,108.296,29d0nY7TzCoi22XBqDQkiP,300840,4
4,4,Future,2022,WAIT FOR U (feat. Drake & Tems),atl hip hop,rap,southern hip hop,0.463,0.642,1,...,1,0.3400,0.3140,0.000000,0.0686,0.339,83.389,59nOXPmaKlBfGMDeOVGrIK,189893,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Stephen Sanchez,2022,Until I Found You,gen z singer-songwriter,None,None,0.539,0.508,10,...,1,0.0288,0.7270,0.000000,0.1740,0.227,101.358,0T5iIrXA4p5GsubkhuBIKV,177720,3
96,96,Bad Bunny,2022,Un Ratito,latin,reggaeton,trap latino,0.787,0.546,0,...,0,0.0532,0.3050,0.000046,0.1220,0.222,93.050,5CzixCxDkRXX9mScCmah8O,176936,4
97,97,Jake Owen,2022,Best Thing Since Backroads,contemporary country,country,country road,0.512,0.841,7,...,1,0.0309,0.0424,0.000257,0.1130,0.330,156.077,0R1REdJZIDy7IS3DybdBce,187433,4
98,98,Bad Bunny,2022,La Corriente,latin,reggaeton,trap latino,0.663,0.786,11,...,0,0.1950,0.2290,0.000000,0.2190,0.579,196.120,1797zYiX4cKosMH836X9Gt,198367,4
99,99,Bizarrap,2022,"Quevedo: Bzrp Music Sessions, Vol. 52",argentine hip hop,pop venezolano,trap argentino,0.621,0.782,2,...,1,0.0440,0.0125,0.033000,0.2300,0.550,128.033,2tTmW7RDtMQtBk7m2rYeSw,198938,4

In [45]:
final_2022_df.to_csv('../data/final_2022_df')