# PERMISSIONS AUTHORIZATION

In [1]:
import requests
import pandas as pd
from pandas import DataFrame
import numpy as np
from itertools import chain
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
CLIENT_ID = 'c7d16c8600ab433ea5aede2202285c1e'
CLIENT_SECRET = '69b7f20b150845a1ae6427a66f14d780'

In [3]:
AUTH_URL = 'https://accounts.spotify.com/api/token'

# POST
auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': CLIENT_ID,
    'client_secret': CLIENT_SECRET,
})

# convert the response to JSON
auth_response_data = auth_response.json()

# save the access token
access_token = auth_response_data['access_token']

In [4]:
#needs to be updated every hour
headers = {
    'Authorization': 'Bearer BQC7gMsDxQkgOzIuvAf9aw1_D0aaaZttROrrULC89ROpMh8n0D2IGjmyCvylT6DC_k1Odwtn7EkwY1ADD-vbY5_Ebfb884gmajK1z5xl_gvILioBI9MWkm-MWx58cCpROsM_WKnF2_Vjly6bKrh_-HEbX6lNaO4UZnPZFs0fa-2b_Q3F0BGGbnzJVL0ah1Y-nJU'.format(token=access_token)
}

# PULLING IN BILLBOARD 1992

In [5]:
import spotipy
sp = spotipy.Spotify()
from spotipy.oauth2 import SpotifyClientCredentials

In [6]:
#Authentication - without user
client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [7]:
playlist_link = "https://open.spotify.com/embed/playlist/0p6VwHqAZNV9xw5HuIKHJd?utm_source=generator"
playlist_URI = playlist_link.split("/")[-1].split("?")[0]
track_uris = [x["track"]["uri"] for x in sp.playlist_tracks(playlist_URI)["items"]]

In [8]:
    for track in sp.playlist_tracks(playlist_URI)["items"]:
        #URI
        track_uri = track["track"]["uri"]

        #Track name
        track_name = track["track"]["name"]

        #Main Artist
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)

        #Name, popularity, genre
        artist_name = track["track"]["artists"][0]["name"]
        
        #artist_pop = artist_info["popularity"]
        artist_genres = artist_info["genres"]

        #Album
        album = track["track"]["album"]["name"]

        #Popularity of the track
        track_pop = track["track"]["popularity"]
        
        #Track Name
        track_name = track["track"]["name"]
        
        #Track URI
        track_uri = track["track"]["uri"]

# TRACK URI

In [9]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_uri = track["track"]["uri"]
        track_name = track["track"]["name"]
        result = track_uri#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_u = get_tracks()

In [10]:
t_uri=pd.DataFrame(track_u)
t_uri=t_uri.rename(columns={0:'track_uri'})
t_uri=t_uri['track_uri'].str.lstrip('spotify:track:')
t_uri=pd.DataFrame(t_uri)

# ARTIST NAME

In [11]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_name = track["track"]["artists"][0]["name"]
        result = artist_name
        tracks.append(result)

    return tracks


artist_name = get_tracks()

In [12]:
a_name=pd.DataFrame(artist_name).reset_index()
a_name=a_name.rename(columns={0:'artist_name'})
a_name['year']=1992

# TRACK NAME

In [13]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        result = track_name#, sp.audio_features(track_uri)
        tracks.append(result)

    return tracks


track_name = get_tracks()

In [14]:
t_name=pd.DataFrame(track_name).reset_index()
t_name=t_name.rename(columns={0:'track_name'})

# AUDIO FEATURES

In [15]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        track_name = track["track"]["name"]
        track_uri = track["track"]["uri"]
        result = sp.audio_features(track_uri)[0]
        tracks.append(result)
        #result=pd.concat([sp.audio_features, tracks], axis=0)
    return tracks


audio = get_tracks()

audio

In [16]:
audio_fea=pd.DataFrame(audio).reset_index()
audio_fea=audio_fea.drop(columns=['type','uri','track_href','analysis_url'])
audio_fea=audio_fea.rename(columns={'id':'track_uri'})

# GENRES

In [17]:
def get_playlist_uri(playlist_link):
    return playlist_link.split("/")[-1].split("?")[0]


def get_tracks():
    tracks = []
    playlist_uri = get_playlist_uri(playlist_link)
    for track in sp.playlist_tracks(playlist_uri)["items"]:
        artist_uri = track["track"]["artists"][0]["uri"]
        artist_info = sp.artist(artist_uri)
        artist_genres = artist_info["genres"]
        result = artist_genres
        tracks.append(result)

    return tracks


track_genres = get_tracks()

In [18]:
genres=pd.DataFrame(track_genres)
genres=genres.rename(columns={0:'primary_genre',1:'sub_genre_1', 2:'sub_genre_2'})
genres= genres[['primary_genre','sub_genre_1','sub_genre_2']].reset_index()

In [19]:
final_df=a_name.merge(t_name, how='left', on='index')
final_df=final_df.merge(genres, how='left', on='index')
final_df=final_df.merge(audio_fea, how='left', on='index')
final_df.head(10)

,index,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature
0,0,Boyz II Men,1992,End Of The Road,boy band,contemporary r&b,new jack swing,0.561,0.579,5,...,0,0.0243,0.034300,0.000000,0.0673,0.550,74.822,3ZxhEGcEmCuwyBzwqCa7oW,349135,3
1,1,Sir Mix-A-Lot,1992,Baby Got Back,gangster rap,hip hop,hip house,0.933,0.664,1,...,1,0.3110,0.004710,0.000000,0.0908,0.616,128.467,7MCNnnmwm7TXMh7xyNGohi,262827,4
2,2,Kris Kross,1992,Jump,gangster rap,hip hop,old school atlanta hip hop,0.749,0.745,2,...,1,0.1640,0.000501,0.004030,0.3330,0.481,101.972,27AHAtAirQapVldIm4c9ZX,195107,4
3,3,Vanessa Williams,1992,Save The Best For Last,adult standards,contemporary r&b,new wave pop,0.531,0.297,3,...,1,0.0266,0.648000,0.000000,0.2000,0.225,95.972,0oKtaLvAcLN1ayWxU3jub6,219147,4
4,4,TLC,1992,Baby-Baby-Baby,atl hip hop,contemporary r&b,dance pop,0.679,0.597,11,...,0,0.0439,0.091300,0.000673,0.0487,0.900,184.174,1zTuB57LYZa7xu7KUH8kF0,315040,4
5,5,Eric Clapton,1992,Tears in Heaven,album rock,blues rock,classic rock,0.498,0.242,9,...,1,0.0257,0.835000,0.536000,0.1330,0.312,153.744,7utRJ4BeYx85khzP3lKoBX,271760,4
6,6,En Vogue,1992,My Lovin' (You're Never Gonna Get It),contemporary r&b,dance pop,girl group,0.767,0.839,8,...,1,0.0613,0.031800,0.000009,0.1110,0.461,98.055,3R97rNX7JnmshCWBwOSFet,281613,4
7,7,Red Hot Chili Peppers,1992,Under the Bridge,alternative rock,funk metal,funk rock,0.559,0.345,4,...,1,0.0459,0.057600,0.000105,0.1410,0.458,84.581,3d9DChrdc6BOeFsbrZ3Is0,264307,4
8,8,Color Me Badd,1992,All 4 Love,boy band,contemporary r&b,new jack swing,0.807,0.750,2,...,1,0.0315,0.034600,0.000179,0.1490,0.797,106.389,4XmsMIMjvDIFEjeY3ycMzW,211493,4
9,9,Jon Secada,1992,Just Another Day,mellow gold,new wave pop,soft rock,0.717,0.642,1,...,1,0.0287,0.019400,0.000249,0.0430,0.732,105.894,5AoBNJQDXXEnIJGjJjZu3y,327427,4

# TIME SIGNATURE PERCENTAGES

In [20]:
time_sig=final_df[final_df['time_signature']==4]
percent_time_sig=time_sig['track_name'].count()/final_df['track_name'].count() *100
percent_time_sig

97.0

# GENRES

In [21]:
genres=final_df[['year','primary_genre','sub_genre_1','sub_genre_2']]
genres['genre_count'] =1
genres

C:\Users\vital\AppData\Local\Temp\ipykernel_27944\3890133482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genre_count'] =1

,year,primary_genre,sub_genre_1,sub_genre_2,genre_count
0,1992,boy band,contemporary r&b,new jack swing,1
1,1992,gangster rap,hip hop,hip house,1
2,1992,gangster rap,hip hop,old school atlanta hip hop,1
3,1992,adult standards,contemporary r&b,new wave pop,1
4,1992,atl hip hop,contemporary r&b,dance pop,1
...,...,...,...,...,...
95,1992,christian music,None,None,1
96,1992,disco,diva house,hip house,1
97,1992,album rock,hard rock,nwobhm,1
98,1992,east coast hip hop,gangster rap,hardcore hip hop,1
99,1992,country rock,electric blues,folk,1

In [22]:
primary_g=genres[['year','primary_genre', 'genre_count']]
primary_g=primary_g.groupby(['year','primary_genre'])['genre_count'].sum()
primary_g=pd.DataFrame(primary_g).reset_index().sort_values(['genre_count'], ascending=False)
primary_g=primary_g.reset_index()
primary_g=primary_g.drop(columns=['index'])
primary_g=primary_g.reset_index()
primary_g['pg_count']= primary_g['primary_genre'].count()

In [23]:
sub_g_1=genres[['year','sub_genre_1', 'genre_count']]
sub_g_1=sub_g_1.groupby(['year','sub_genre_1'])['genre_count'].sum()
sub_g_1=pd.DataFrame(sub_g_1).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_1=sub_g_1.reset_index()
sub_g_1=sub_g_1.drop(columns=['index'])
sub_g_1=sub_g_1.reset_index()
sub_g_1['s1_count']= sub_g_1['sub_genre_1'].count()

In [24]:
sub_g_2=genres[['year','sub_genre_2', 'genre_count']]
sub_g_2=sub_g_2.groupby(['year','sub_genre_2'])['genre_count'].sum()
sub_g_2=pd.DataFrame(sub_g_2).reset_index().sort_values(['genre_count'], ascending=False)
sub_g_2=sub_g_2.reset_index()
sub_g_2=sub_g_2.drop(columns=['index'])
sub_g_2=sub_g_2.reset_index()
sub_g_2['s2_count']= sub_g_2['sub_genre_2'].count()

In [25]:
genre_df=primary_g.merge(sub_g_1, how='left', on='index')
genre_df=genre_df.merge(sub_g_2, how='left', on='index')
genre_df=genre_df.drop(columns=['year_y','year']).head(15)
genre_df=genre_df.rename(columns={'year_x':'year','genre_count_x':'p_gen_count','genre_count_y':'sg1_count','genre_count':'sg2_count'})
genre_df

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,1992,contemporary r&b,15,34,contemporary r&b,11,34,new jack swing,8.0,31.0
1,1,1992,album rock,11,34,mellow gold,6,34,hip house,6.0,31.0
2,2,1992,dance pop,7,34,hard rock,5,34,rock,5.0,31.0
3,3,1992,boy band,7,34,hip pop,5,34,hip hop,4.0,31.0
4,4,1992,atl hip hop,5,34,dance pop,5,34,classic rock,4.0,31.0
5,5,1992,canadian pop,4,34,hip hop,4,34,soft rock,4.0,31.0
6,6,1992,gangster rap,4,34,pop,4,34,r&b,4.0,31.0
7,7,1992,pop,3,34,new wave pop,4,34,new wave pop,4.0,31.0
8,8,1992,christian music,3,34,art rock,3,34,neo soul,3.0,31.0
9,9,1992,glam metal,3,34,r&b,3,34,classic canadian rock,3.0,31.0
10,10,1992,alternative rock,3,34,diva house,3,34,hip pop,3.0,31.0
11,11,1992,disco,3,34,permanent wave,3,34,soul,3.0,31.0
12,12,1992,adult standards,3,34,canadian singer-songwriter,3,34,girl group,3.0,31.0
13,13,1992,eurodance,2,34,europop,2,34,dance pop,3.0,31.0
14,14,1992,irish rock,2,34,funk,2,34,pop rock,2.0,31.0

# AUDIO FEATURES

# DANCEABILITY

In [26]:
top_10_dance_avg=final_df.head(10)
top_10_dance_avg=top_10_dance_avg['danceability'].sum()/top_10_dance_avg['danceability'].count()*100
num_1_dance=final_df['danceability']*100

dance_df=pd.DataFrame({'dance_avg':[final_df['danceability'].sum()/final_df['danceability'].count()*100],
                 'top10_dance_avg':[top_10_dance_avg],
                 'top_song_dance': [num_1_dance.iloc[0]]
                })
dance_df=dance_df.reset_index()
dance_df

   index  dance_avg  top10_dance_avg  top_song_dance
0      0     63.704            68.01            56.1

# ENERGY

In [27]:
top_10_energy_avg=final_df.head(10)
top_10_energy_avg=top_10_energy_avg['energy'].sum()/top_10_energy_avg['energy'].count()*100
num_1_energy=final_df['energy']*100

energy_df=pd.DataFrame({'energy_avg':[final_df['energy'].sum()/final_df['energy'].count()*100],
                 'top10_energy_avg':[top_10_energy_avg],
                 'top_song_energy': [num_1_energy.iloc[0]]
                })
energy_df=energy_df.reset_index()
energy_df

   index  energy_avg  top10_energy_avg  top_song_energy
0      0      64.076              57.0             57.9

# LIVENESS

In [28]:
top_10_live_avg=final_df.head(10)
top_10_live_avg=top_10_live_avg['liveness'].sum()/top_10_live_avg['liveness'].count()*100
num_1_live=final_df['liveness']*100

live_df=pd.DataFrame({'live_avg':[final_df['liveness'].sum()/final_df['liveness'].count()*100],
                 'top10_live_avg':[top_10_live_avg],
                 'top_song_live': [num_1_live.iloc[0]]
                })
live_df=live_df.reset_index()
live_df

   index  live_avg  top10_live_avg  top_song_live
0      0   16.9472          13.168           6.73

# DURATION

In [29]:
top_10_duration_avg=final_df.head(10)
top_10_duration_avg=(top_10_duration_avg['duration_ms'].sum()/top_10_duration_avg['duration_ms'].count())/(60*1000)
num_1_duration=(final_df['duration_ms'])/(60*1000)

duration_df=pd.DataFrame({'dur_avg':[(final_df['duration_ms'].sum()/final_df['duration_ms'].count())/(60*1000)],
                 'top10_dur_avg':[top_10_duration_avg],
                 'top_song_dur': [num_1_duration.iloc[0]]
                })
duration_df=duration_df.reset_index()
duration_df

   index   dur_avg  top10_dur_avg  top_song_dur
0      0  4.625752       4.496427      5.818917

# TEMPO

In [30]:
top_10_tempo_avg=final_df.head(10)
top_10_tempo_avg=(top_10_tempo_avg['tempo'].sum()/top_10_tempo_avg['tempo'].count())
num_1_tempo=(final_df['tempo'])

tempo_df=pd.DataFrame({'tempo_avg':[(final_df['tempo'].sum()/final_df['tempo'].count())],
                 'top10_tempo_avg':[top_10_tempo_avg],
                 'top_song_tempo': [num_1_tempo.iloc[0]]
                })
tempo_df=tempo_df.reset_index()
tempo_df

   index  tempo_avg  top10_tempo_avg  top_song_tempo
0      0  117.56319          113.407          74.822

# VALENCE- Music Positiveness

In [31]:
top_10_valence_avg=final_df.head(10)
top_10_valence_avg=(top_10_valence_avg['valence'].sum()/top_10_valence_avg['valence'].count()*100)
num_1_valence=(final_df['valence'])*100

valence_df=pd.DataFrame({'valence_avg':[(final_df['valence'].sum()/final_df['valence'].count()*100)],
                 'top10_valence_avg':[top_10_valence_avg],
                 'top_song_valence': [num_1_valence.iloc[0]]
                })
valence_df=valence_df.reset_index()
valence_df

   index  valence_avg  top10_valence_avg  top_song_valence
0      0      56.1326              55.32              55.0

# ACOUSTICNESS

In [32]:
top_10_accoustic_avg=final_df.head(10)
top_10_accoustic_avg=(top_10_accoustic_avg['acousticness'].sum()/top_10_accoustic_avg['acousticness'].count()*100)
num_1_accoustic=(final_df['acousticness'])*100

accoustic_df=pd.DataFrame({'accoustic_avg':[(final_df['acousticness'].sum()/final_df['acousticness'].count()*100)],
                 'top10_accoustic_avg':[top_10_accoustic_avg],
                 'top_song_accoustic': [num_1_accoustic.iloc[0]]
                })
accoustic_df=accoustic_df.reset_index()
accoustic_df

   index  accoustic_avg  top10_accoustic_avg  top_song_accoustic
0      0      17.750894             17.57211                3.43

# SPEECHINESS

In [33]:
top_10_speechiness_avg=final_df.head(10)
top_10_speechiness_avg=(top_10_speechiness_avg['speechiness'].sum()/top_10_speechiness_avg['speechiness'].count()*100)
num_1_speechiness=(final_df['speechiness'])*100

speechiness_df=pd.DataFrame({'speechiness_avg':[(final_df['speechiness'].sum()/final_df['speechiness'].count()*100)],
                 'top10_speechiness_avg':[top_10_accoustic_avg],
                 'top_song_speechiness': [num_1_accoustic.iloc[0]]
                })
speechiness_df=speechiness_df.reset_index()
speechiness_df

   index  speechiness_avg  top10_speechiness_avg  top_song_speechiness
0      0           5.9163               17.57211                  3.43

# KEY

In [34]:
key_trns=final_df[['track_name','key','mode']]
key_trns.dtypes

track_name    object
key            int64
mode           int64
dtype: object

In [35]:
for index, row in key_trns.iterrows():
    key= int(row['key'])
    if key == 0 : 
        key_trns.loc[index,'key_a']= 'C'
    elif key ==1 : 
        key_trns.loc[index,'key_a']= 'C#'
    elif key ==2 : 
        key_trns.loc[index,'key_a']= 'D'
    elif key ==3 : 
        key_trns.loc[index,'key_a']= 'D#'
    elif key ==4 : 
        key_trns.loc[index,'key_a']= 'E'
    elif key ==5 : 
        key_trns.loc[index,'key_a']= 'F'
    elif key ==6 : 
        key_trns.loc[index,'key_a']= 'F#'
    elif key ==7 : 
        key_trns.loc[index,'key_a']= 'G'
    elif key ==8 : 
        key_trns.loc[index,'key_a']= 'G#'
    elif key ==9 : 
        key_trns.loc[index,'key_a']= 'A'
    elif key ==10 : 
        key_trns.loc[index,'key_a']= 'A#'
    elif key ==11 : 
        key_trns.loc[index,'key_a']= 'B'
    else:
        key_trns.loc[index,'key_a']= 'ERROR'        

for index, row in key_trns.iterrows():
    mode= int(row['mode'])
    if mode == 1 : 
        key_trns.loc[index,'M_m']= 'Major'
    elif mode ==0 : 
        key_trns.loc[index,'M_m']= 'minor'
    else:
        key_trns.loc[index,'M_m']= 'ERROR'

C:\Users\vital\AppData\Local\Temp\ipykernel_27944\1186037428.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'key_a']= 'F'
C:\Users\vital\AppData\Local\Temp\ipykernel_27944\1186037428.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns.loc[index,'M_m']= 'minor'

In [36]:
key_split=key_trns[['key_a', 'M_m']].reset_index()
key_split

    index key_a    M_m
0       0     F  minor
1       1    C#  Major
2       2     D  Major
3       3    D#  Major
4       4     B  minor
..    ...   ...    ...
95     95     C  Major
96     96     C  Major
97     97     F  Major
98     98     F  minor
99     99     G  minor

[100 rows x 3 columns]

In [38]:
key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']
key_trns_f=key_trns.drop(columns=['key', 'mode','key_a','M_m'])
key_trns_f['count']=1
key_trns_f.head()

C:\Users\vital\AppData\Local\Temp\ipykernel_27944\2755823312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_trns['alph_key']=key_trns['key_a']+key_trns['M_m']

               track_name alph_key  count
0         End Of The Road   Fminor      1
1           Baby Got Back  C#Major      1
2                    Jump   DMajor      1
3  Save The Best For Last  D#Major      1
4          Baby-Baby-Baby   Bminor      1

In [39]:
fin_key=key_trns[['alph_key']].reset_index()
fin_key

    index alph_key
0       0   Fminor
1       1  C#Major
2       2   DMajor
3       3  D#Major
4       4   Bminor
..    ...      ...
95     95   CMajor
96     96   CMajor
97     97   FMajor
98     98   Fminor
99     99   Gminor

[100 rows x 2 columns]

In [40]:
pop_keys=key_trns_f.groupby(['alph_key'])['count'].count()
pop_keys= pd.DataFrame(pop_keys).reset_index().sort_values('count',ascending =False)
pop_keys= pop_keys.reset_index()
pop_keys= pop_keys.drop(columns=['index'])
pop_keys

   alph_key  count
0   C#Major     13
1    Bminor      9
2    Fminor      8
3    GMajor      7
4    CMajor      7
5    EMajor      6
6    AMajor      6
7    FMajor      5
8   A#Major      4
9   G#Major      4
10  F#minor      4
11  F#Major      4
12   Gminor      4
13  A#minor      3
14   Cminor      3
15   DMajor      3
16   Eminor      2
17  D#Major      2
18   Aminor      2
19   Dminor      1
20  C#minor      1
21   BMajor      1
22  G#minor      1

# FINAL SETS

# ENERGY-DANCE_TEMPO

In [41]:
energy_1992_df=dance_df.merge(tempo_df, how='left', on='index')
energy_1992_df=energy_1992_df.merge(energy_df, how='left', on='index')
energy_1992_df['year']=1992
energy_1992_df

,index,dance_avg,top10_dance_avg,top_song_dance,tempo_avg,top10_tempo_avg,top_song_tempo,energy_avg,top10_energy_avg,top_song_energy,year
0,0,63.704,68.01,56.1,117.56319,113.407,74.822,64.076,57.0,57.9,1992

In [42]:
energy_1992_df.to_csv('../data/energy_1992_df')

# VALENCE- ACCOUSTINESS- SPEECHINESS

In [43]:
tone1992_df=valence_df.merge(accoustic_df, how='left', on='index')
tone1992_df=tone1992_df.merge(speechiness_df, how='left', on='index')
tone1992_df['year']=1992
tone1992_df

,index,valence_avg,top10_valence_avg,top_song_valence,accoustic_avg,top10_accoustic_avg,top_song_accoustic,speechiness_avg,top10_speechiness_avg,top_song_speechiness,year
0,0,56.1326,55.32,55.0,17.750894,17.57211,3.43,5.9163,17.57211,3.43,1992

In [44]:
tone1992_df.to_csv('../data/tone1992_df')

# LIVENESS- DURATION

In [45]:
duration_1992_df=duration_df.merge(live_df, how='left', on='index')
duration_1992_df['year']=1992
duration_1992_df

,index,dur_avg,top10_dur_avg,top_song_dur,live_avg,top10_live_avg,top_song_live,year
0,0,4.625752,4.496427,5.818917,16.9472,13.168,6.73,1992

In [46]:
duration_1992_df.to_csv('../data/duration_1992_df')

# MOST POPULAR KEYS

In [47]:
pop_keys['year']=1992
pop_key_1992= pop_keys.reset_index()
pop_key_1992

    index alph_key  count  year
0       0  C#Major     13  1992
1       1   Bminor      9  1992
2       2   Fminor      8  1992
3       3   GMajor      7  1992
4       4   CMajor      7  1992
5       5   EMajor      6  1992
6       6   AMajor      6  1992
7       7   FMajor      5  1992
8       8  A#Major      4  1992
9       9  G#Major      4  1992
10     10  F#minor      4  1992
11     11  F#Major      4  1992
12     12   Gminor      4  1992
13     13  A#minor      3  1992
14     14   Cminor      3  1992
15     15   DMajor      3  1992
16     16   Eminor      2  1992
17     17  D#Major      2  1992
18     18   Aminor      2  1992
19     19   Dminor      1  1992
20     20  C#minor      1  1992
21     21   BMajor      1  1992
22     22  G#minor      1  1992

In [48]:
pop_key_1992.to_csv('../data/pop_key_1992')

# MOST POPULAR GENRES

In [49]:
genre_df_1992=genre_df
genre_df_1992

,index,year,primary_genre,p_gen_count,pg_count,sub_genre_1,sg1_count,s1_count,sub_genre_2,sg2_count,s2_count
0,0,1992,contemporary r&b,15,34,contemporary r&b,11,34,new jack swing,8.0,31.0
1,1,1992,album rock,11,34,mellow gold,6,34,hip house,6.0,31.0
2,2,1992,dance pop,7,34,hard rock,5,34,rock,5.0,31.0
3,3,1992,boy band,7,34,hip pop,5,34,hip hop,4.0,31.0
4,4,1992,atl hip hop,5,34,dance pop,5,34,classic rock,4.0,31.0
5,5,1992,canadian pop,4,34,hip hop,4,34,soft rock,4.0,31.0
6,6,1992,gangster rap,4,34,pop,4,34,r&b,4.0,31.0
7,7,1992,pop,3,34,new wave pop,4,34,new wave pop,4.0,31.0
8,8,1992,christian music,3,34,art rock,3,34,neo soul,3.0,31.0
9,9,1992,glam metal,3,34,r&b,3,34,classic canadian rock,3.0,31.0
10,10,1992,alternative rock,3,34,diva house,3,34,hip pop,3.0,31.0
11,11,1992,disco,3,34,permanent wave,3,34,soul,3.0,31.0
12,12,1992,adult standards,3,34,canadian singer-songwriter,3,34,girl group,3.0,31.0
13,13,1992,eurodance,2,34,europop,2,34,dance pop,3.0,31.0
14,14,1992,irish rock,2,34,funk,2,34,pop rock,2.0,31.0

In [50]:
genre_df_1992.to_csv('../data/genre_df_1992')

# TIME SIGNATURE PERCENTAGES

In [51]:
percent_time_sig_1992=percent_time_sig
percent_time_sig_1992=pd.DataFrame({'time_sig_92':[percent_time_sig_1992]}).reset_index()
percent_time_sig_1992

   index  time_sig_92
0      0         97.0

In [52]:
percent_time_sig_1992.to_csv('../data/percent_time_sig_1992')

# FINAL FULL DATAFRAME

In [53]:
final_1992_df=final_df
final_1992_df=final_df
final_1992_df= final_1992_df.merge(key_split, how='left', on='index')
final_1992_df= final_1992_df.merge(fin_key, how='left', on='index')
final_1992_df.index = np.arange(1,len(final_1992_df)+1)
final_1992_df= final_1992_df.reset_index().drop(columns=['index'])
final_1992_df

,level_0,artist_name,year,track_name,primary_genre,sub_genre_1,sub_genre_2,danceability,energy,key,...,instrumentalness,liveness,valence,tempo,track_uri,duration_ms,time_signature,key_a,M_m,alph_key
0,1,Boyz II Men,1992,End Of The Road,boy band,contemporary r&b,new jack swing,0.561,0.579,5,...,0.000000,0.0673,0.550,74.822,3ZxhEGcEmCuwyBzwqCa7oW,349135,3,F,minor,Fminor
1,2,Sir Mix-A-Lot,1992,Baby Got Back,gangster rap,hip hop,hip house,0.933,0.664,1,...,0.000000,0.0908,0.616,128.467,7MCNnnmwm7TXMh7xyNGohi,262827,4,C#,Major,C#Major
2,3,Kris Kross,1992,Jump,gangster rap,hip hop,old school atlanta hip hop,0.749,0.745,2,...,0.004030,0.3330,0.481,101.972,27AHAtAirQapVldIm4c9ZX,195107,4,D,Major,DMajor
3,4,Vanessa Williams,1992,Save The Best For Last,adult standards,contemporary r&b,new wave pop,0.531,0.297,3,...,0.000000,0.2000,0.225,95.972,0oKtaLvAcLN1ayWxU3jub6,219147,4,D#,Major,D#Major
4,5,TLC,1992,Baby-Baby-Baby,atl hip hop,contemporary r&b,dance pop,0.679,0.597,11,...,0.000673,0.0487,0.900,184.174,1zTuB57LYZa7xu7KUH8kF0,315040,4,B,minor,Bminor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Amy Grant,1992,I Will Remember You,christian music,None,None,0.513,0.658,0,...,0.000093,0.0805,0.336,177.625,76crWZqaiFzlTPGzNtT4w1,300560,4,C,Major,CMajor
96,97,CeCe Peniston,1992,We Got A Love Thang,disco,diva house,hip house,0.669,0.644,0,...,0.005850,0.3560,0.764,120.012,1Z1BvDuDYOaQaQtoeCDSuA,328800,4,C,Major,CMajor
97,98,Def Leppard,1992,Let's Get Rocked,album rock,hard rock,nwobhm,0.564,0.888,5,...,0.000067,0.1770,0.526,91.989,0LoH6lFQLNscy3RyljAewK,295957,4,F,Major,FMajor
98,99,Das EFX,1992,They Want EFX,east coast hip hop,gangster rap,hardcore hip hop,0.755,0.459,5,...,0.000000,0.0851,0.597,98.454,3HCzj965m8Fz2E8wZkir6q,221400,4,F,minor,Fminor
99,100,Bonnie Raitt,1992,I Can't Make You Love Me,country rock,electric blues,folk,0.588,0.149,7,...,0.000097,0.2360,0.113,124.689,69uJi5QsBtqlYkGURTBli8,332960,4,G,minor,Gminor

In [54]:
final_1992_df.to_csv('../data/final_1992_df')